
<!-- <div class="container">

    <b><div class="bi bi-plus-lg" style="font-size: 18px;"  [routerLink]="['/req-form/',id ]">  Add request </div></b>
    <br>

</div>
  -->

  <!-- MY REQ FOR USER TO EDIT AND DELETE -->

  <div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <div class="user-info">
                      <img class="img-profile img-circle img-responsive center-block "  src="assets/redprofile.jpeg" alt="">
                        
                        <ul class="meta list list-unstyled">
                          <li class="name" style="font-size:18px ; margin-top: 16px;"><b>{{userFname}} {{userLname}}</b></li>
                         
                      </ul>
                    </div>
                <nav class="side-menu">
                  <ul class="nav"  >
                    <li><a href="#" [routerLink]="['/user/', id]"><span class="bi bi-person-fill"></span> PROFILE</a></li> 
                    <li class="active"><a href="#" [routerLink]="['/myrequest-user/', id]"><span class="bi bi-bag-heart-fill"></span> MY REQUEST</a></li>
                    <li ><a href="#"   [routerLink]="['/req-form/',id]"><span class="bi bi-plus-lg"></span> ADD REQUEST</a></li>
                    <li ><a href="#" [routerLink]="['/my-donations-user/', id]"><span class="bi bi-droplet-fill"></span> MY DONATIONS</a></li>
                    <li><a href="#" [routerLink]="['/request/', id]"><span class="bi bi-table"></span> DONATE</a></li>        
                  </ul>
              </nav>
                </div>
                <div class="content-panel">
                    <fieldset class="fieldset">
                        <div class="row ">
                    <div class="col ">
                      <h3 style="text-align: center;">M Y &nbsp; R E Q U E S T S</h3><br>
                      <!-- table -->
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                      <table class="table table-hover">
                        <thead class="table-dark">
                          <tr>
                            <th></th>
                            <th>Date</th>
                            <th>Place</th>
                            <th>Blood type</th>
                            <th>Quantity</th>
                            <th>Case</th>
                            <th>Status</th>
                            <th>city</th>
                            <th>respond</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let m of myrequest; index as i">
                            <td></td>
                            <td>{{m.request_date | date: 'yyyy-MM-dd'}}</td>
                            <td>{{m.hospital_name}}</td>
                            <td>{{m.blood_type}}</td>
                            <td>
                              <input name="request_quantity" class="form-control"  style="width:75px ;" type="text" [(ngModel)]="myrequest[i].request_quantity" [disabled]="!m.isEditing" />
                            </td>
                            <td>
                              <input name="request_case" class="form-control" style="width:75px ; height: min-content;" type="text" [(ngModel)]="myrequest[i].request_case" [disabled]="!m.isEditing"/>
                            </td>
                            <td> {{m.request_status }} </td>
                            <td>{{m.city}}</td>
                            <td>
                              <span style="display: flex;">
                              <button class="btn btn-primary" (click)="editItem(m)" ><i class="bi bi-pencil-fill"></i>
                                {{ m.isEditing ? 'Cancel' : 'Edit' }}
                              </button>
                              &nbsp;
                              <button class="btn btn-danger" *ngIf="!m.isEditing" (click)="delete(m)"><i class="bi bi-trash-fill"></i></button>
                              <button class="btn btn-warning" *ngIf="m.isEditing" (click)="updateItem(m)">Update</button>
                              </span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      </div>
                    </div>
                    </div>
                    </fieldset><br>
                    <hr>
                </div>
                
              
  
                
      