<div class="container mt-3">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1>LOGIN</h1>
        <div class="card my-5 card-body cardbody-color p-lg-5">
         
            <label for="login" style="margin-right: 7px;">login as:</label>
            <div class="usertype-box">
    
              <label class="rad-label" ><input type="radio" name="filter" (input)="userDisplay()" class="rad-input"><p class="rad-text">User</p> </label><pre></pre>
              <label class="rad-label" ><input type="radio" name="filter" (input)="hospitalDisplay()" class="rad-input"><p class="rad-text">Hospital</p></label><pre></pre>
              <label class="rad-label" ><input type="radio" name="filter" (input)="orgnizationDisplay()" class="rad-input"><p class="rad-text">Orgnization</p></label>
              <label class="rad-label" ><input type="radio" name="filter" (input)="adminDisplay()" class="rad-input"><p class="rad-text">Admin</p></label>
              
          </div>
          <form [formGroup]="userloginform">
          <!-- user login -->
          <div [hidden]="uDisplay">
            <div class="mb-3">
              <input type="text" class="form-control" aria-describedby="emailHelp"
                 placeholder="ssn" formControlName="user_national_ID">
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" placeholder="password" formControlName="user_password">
            </div>
            <div class="text-center" ><button type="submit" class="btn btn-danger px-5 mb-5 w-100" (click)="proceedloginuser()">Login</button></div>
          </div>
        </form>
          <!-- hospital login -->
          <form  [formGroup]="hospitalloginform">
          <div [hidden]="hDisplay">
            <div class="mb-3">
              <input type="text" class="form-control" aria-describedby="emailHelp"
                 placeholder="email" formControlName="hospital_Email">
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" placeholder="password" formControlName="hospital_password">
            </div>
            <div class="text-center"><button type="submit" class="btn btn-danger px-5 mb-5 w-100" (click)="proceedloginhospital()">Login</button></div>
          </div>
        </form>
          <!-- org login -->
          <form [formGroup]="orgloginform">
          <div [hidden]="oDisplay">
            <div class="mb-3">
              <input type="text" class="form-control" aria-describedby="emailHelp"
                 placeholder="email" formControlName="organization_email">
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" placeholder="password" formControlName="organization_password">
            </div>
            <div class="text-center"><button type="submit" class="btn btn-danger px-5 mb-5 w-100" (click)="proceedloginorg()">Login</button></div>
          </div>
        </form>
          <!-- admin login -->
          <div [hidden]="aDisplay">
            <div class="mb-3">
              <input type="text" class="form-control" aria-describedby="emailHelp"
                 placeholder="email" formControlName="email">
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" placeholder="password" formControlName="password">
            </div>
            <div class="text-center"><button type="submit" class="btn btn-danger px-5 mb-5 w-100">Login</button></div>
          </div>


            <div id="emailHelp" class="form-text text-center mb-5 text-dark">Not
              Registered?<a href="#" class="text-dark fw-bold" routerLink="/sign-up" routerLinkActive="active"> Create an
                Account</a>
            </div>

        </div>

      </div>
    </div>
  </div>