<div class="container" style="padding:20px;">
    <ul class="row" style="list-style: none;">
        <li class="col-4">
            <a href="#" routerLink="/o-positive" routerLinkActive="active" >
                <span class="blood_bag blood_one_quarter">
                    <h2>O+</h2>
                </span>
            </a>
        </li>
        <li class="col-4">
            <a href="#" routerLink="/o-ve" routerLinkActive="active" >
                <span class="blood_bag blood_critical">
                    <h2>O-</h2>
                </span>
            </a>
        </li>
        <li class="col-4">
            <a href="">
                <span class="blood_bag blood_one_quarter">
                    <h2>A+</h2>
                </span>
            </a>
        </li>
        <li class="col-4">
            <a href="">
                <span class="blood_bag blood_critical">
                    <h2>A-</h2>
                </span>
            </a>
        </li>
        <li class="col-4">
            <a href="">
                <span class="blood_bag blood_one_quarter">
                    <h2>B+</h2>
                </span>
            </a>
        </li>
        <li class="col-4">
            <a href="">
                <span class="blood_bag blood_critical">
                    <h2 style="padding-top:42px;padding-left:42px;">B-</h2>
                </span>
            </a>
        </li>
        <li class="col-4">
            <a href="">
                <span class="blood_bag blood_full">
                    <h2 style="padding-top:48px;padding-left:30px;">AB+</h2>
                </span>
            </a>
        </li>
        <li class="col-4">
            <a href="">
                <span class="blood_bag blood_full" >
                    <h2 style="padding-top:48px;padding-left:33px;">AB-</h2>
                </span>
            </a>
        </li>
    </ul>

</div>