<div class="container" style="padding:0px; padding-top: 20px;">

    <p class="pragraph">Before the discovery of blood types in 1901, people were receiving blood transfusions regardless of blood type. 
        These transfusions were the cause of many deaths due to the incompatibilities.</p>
    <br>
    <ul class="row" style="list-style: none;">
        <li class="col">
            <a href="#" routerLink="/o-positive" routerLinkActive="active" >
                <span class="blood_bag blood_one_quarter">
                    <h2>O+</h2>
                </span>
            </a>
        </li>
        <li class="col">
            <a href="#" routerLink="/o-ve" routerLinkActive="active" >
                <span class="blood_bag blood_critical">
                    <h2>O-</h2>
                </span>
            </a>
        </li>
        <li class="col">
            <a href="#" routerLink="/a-positive" routerLinkActive="active">
                <span class="blood_bag blood_one_quarter">
                    <h2>A+</h2>
                </span>
            </a>
        </li>
        <li class="col">
            <a href="#" routerLink="/a-ve" routerLinkActive="active">
                <span class="blood_bag blood_critical">
                    <h2>A-</h2>
                </span>
            </a>
        </li>
        <li class="col">
            <a href="#" routerLink="/b-positive" routerLinkActive="active">
                <span class="blood_bag blood_one_quarter">
                    <h2>B+</h2>
                </span>
            </a>
        </li>
        <li class="col">
            <a href="#" routerLink="/b-ve" routerLinkActive="active">
                <span class="blood_bag blood_critical">
                    <h2 style="padding-top:42px;padding-left:42px;">B-</h2>
                </span>
            </a>
        </li>
        <li class="col">
            <a href="#" routerLink="/ab-positive" routerLinkActive="active">
                <span class="blood_bag blood_full">
                    <h2 style="padding-top:48px;padding-left:30px;">AB+</h2>
                </span>
            </a>
        </li>
        <li class="col">
            <a href="#" routerLink="/ab-ve" routerLinkActive="active">
                <span class="blood_bag blood_full" >
                    <h2 style="padding-top:48px;padding-left:33px;">AB-</h2>
                </span>
            </a>
        </li>
    </ul>
<pre></pre>
<pre></pre>
<iframe class="container" height="475" src="https://www.youtube.com/embed/R-rWRgNZrh8" 
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
                clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                allowfullscreen></iframe>

<pre></pre>
</div>