
<div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <div class="user-info">
                        <img class="img-profile img-circle img-responsive center-block "  src="" alt="">
                        
                        <ul class="meta list list-unstyled" *ngFor="let h of hospital">
                            <li class="name" style="font-size:18px ; margin-top: 16px;">{{h.hospital_name}}</li>
                        </ul>
                    </div>
            		<nav class="side-menu">
        				<ul class="nav" *ngFor="let h of hospital">
        					<li class="active"><a href="#" [routerLink]="['/hospital/', h.hospital_id]"><span class="bi bi-person-fill"></span> PROFILE</a></li>
        					<li><a href="#" [routerLink]="['/myrequest-hospital/', h.hospital_id]"><span class="bi bi-bag-heart-fill"></span> REQUESTS</a></li>
        					<li ><a href="#"  [routerLink]="['/req-form-hospital/',id ]"><span class="bi bi-plus-lg"></span>ADD REQUEST</a></li>
        					<li><a href="#" [routerLink]="['/request-hospital/', h.hospital_id]"><span class="bi bi-table"></span> DONATE</a></li>
                            <li><a href="#" [routerLink]="['/hospital-stock/', h.hospital_id]"><span class="bi bi-cart-plus-fill"></span> MY STOCK</a></li>
    
        				</ul>
        			</nav>
                </div>

                <!--static profile info-->
                <div class="content-panel" [hidden]="displays">
                    <fieldset class="fieldset">
                        <div class="row ">
                            <label *ngIf="isfetching">loading....</label>
                            <div class="col col-lg-2">
                        <h3 class="fieldset-title">Personal Info</h3>
                    </div>
                    <div class="col ">
                        <div class="mb-3" *ngFor="let h of hospital"><br>
                            <label><b>Hospital Name:  </b>{{h.hospital_name}} </label><br>
                            <label><b>Hospital Address:  </b>{{h.hospital_address}} </label><br>
                            <label><b>Hospital City:  </b>{{h.hospital_city}} </label><br>
                        </div>
                    </div>
                    </div>
                    </fieldset><br>
                    <fieldset class="fieldset">
                        <div class="row ">
                            <div class="col col-lg-2">
                        <h3 class="fieldset-title">Contact Info</h3>
                        </div>
                        <div class="col col-lg-2">
                        <div class="mb-3" *ngFor="let h of hospital">
                            <label><b>Hospital Email:  </b>{{h.hospital_Email}} </label><br>
                            <label><b>Phone number:  </b>{{h.hospital_phoneNo}}</label>
                        </div>
                        </div>
                        </div>
                    </fieldset>
                    <hr><br>
                    <div class="form-group">
                        <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                            <div class="d-flex" *ngFor="let h of hospital">
                            <a href="#" [routerLink]="['/hospital-profile/', h.hospital_id, 'update']" class="btn btn-primary m-1">Update</a>    
                            <!-- <button class="btn btn-primary m-1" type="submit" >Update</button> -->
                            <button class="btn btn-danger m-1" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal" >Delete account</button>
                            </div>
                        </div>

                    </div>
                </div>
                
              <!-- modal -->
                <div class="modal fade" id="deleteModal">
                    <div class="modal-dialog" >
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">DELETE!!</h4>
                          <button class="btn-close" data-bs-dismiss="modal" ></button>
                        </div>
                        <div class="modal-body">
                            <h5> Code is sent to your email</h5>
                            <input [(ngModel)]="verificationCode" placeholder="Enter Verification Code" class="form-control">
                            <p style="color: rgba(6, 55, 180, 0.849);" class="d-flex justify-content-center" >{{message}}</p>
                            
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-warning" (click)="sendEmail()">Send</button>
                            <button type="button" class="btn btn-danger" (click)="verifyCode()">Verify Code</button>
                        </div>
                      </div>
                    </div>
                  </div>

                