<div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <div class="user-info">
                        <img class="img-profile img-circle img-responsive center-block "  src="" alt="">
                        
                        <ul class="meta list list-unstyled">
                            <!-- <li class="name">{{hospital.name}}</li> -->
                        </ul>
                    </div>
            		<nav class="side-menu">
        				<ul class="nav">
        					<li class="active"><a href="#" routerLink="/organization-profile" routerLinkActive="active"><span class="bi bi-person-fill"></span> PROFILE</a></li>
        					<li><a href="#" routerLink="/myrequest-user" routerLinkActive="active"><span class="bi bi-bag-heart-fill"></span>  MY REQUESTS</a></li>
        					<li><a href="#" routerLink="" routerLinkActive="active"><span class="bi bi-droplet-fill"></span> MY DONATIONS</a></li>
        					<li><a href="#" routerLink="/request" routerLinkActive="active"><span class="bi bi-table"></span> REQUEST</a></li>
                            <li><a href="#" routerLink="/hospital-stock" routerLinkActive="active"><span class="bi bi-cart-plus-fill"></span> MY STOCK</a></li>
    
        				</ul>
        			</nav>
                </div>

<!--editable profile info-->
<div class="content-panel" >
    <form class="form-horizontal" [formGroup]="form">
        <fieldset class="fieldset">
            <h3 class="fieldset-title">Personal Info</h3>

            <div  class="mb-3">
                <input required placeholder="organization name" type="text" class="form-control" formControlName="organization_name" value="organization_name">
                <div *ngIf="f['organization_name'].touched && f['organization_name'].invalid" >
                    <div *ngIf="f['organization_name'].errors && f['organization_name'].errors['required']">organization name is required.</div>
                  </div>
            </div><pre></pre>
            

            <div >
                <label for="City" style="margin-right: 7px;">City:  </label>
                <select class="drop" name="city"  formControlName="orgaization_city" value="orgaization_city">
                <option value="6 October" name="city" >6 October</option>
                <option value="Dokki" name="city" >Dokki</option>
                <option value="New Cairo" name="city" >New Cairo</option>
                <option value="Nasr city" name="city" >Nasr city</option>
                <option value="Madinty" name="city" >Madinty</option>
                </select>
                <div *ngIf="f['orgaization_city'].touched && f['orgaization_city'].invalid" >
                    <div *ngIf="f['orgaization_city'].errors && f['orgaization_city'].errors['required']"> city is required.</div>
                  </div>
            </div>
            <pre></pre>

            <div class="form-group avatar">
            
                <div class="form-inline col-md-10 col-sm-9 col-xs-12">
                    
                    <button type="submit" class="btn btn-danger">Update Image</button>
                </div>
            </div><pre></pre>

            <div  class="mb-3">
                <input required placeholder="password" type="text" class="form-control" formControlName="organization_password" value="organization_password">
                <div *ngIf="f['organization_password'].touched && f['organization_password'].invalid" >
                    <div *ngIf="f['organization_password'].errors && f['organization_password'].errors['required']">password is required.</div>
                  </div>
            </div><pre></pre>

            <br>
        </fieldset> 

        <fieldset class="fieldset">
            <h3 class="fieldset-title">Contact Info</h3><br>

            <div  class="mb-3">
                <input required placeholder="phone number" type="text" class="form-control" formControlName="organization_phoneNo" value="organization_phoneNo">
                <div *ngIf="f['organization_phoneNo'].touched && f['organization_phoneNo'].invalid" >
                    <div *ngIf="f['organization_phoneNo'].errors && f['organization_phoneNo'].errors['required']">phone number is required.</div>
                  </div>
            </div><pre></pre>

            <div  class="mb-3">
                <input required placeholder="Email" type="text" class="form-control" formControlName="organization_email" value="organization_email">
                <div *ngIf="f['organization_email'].touched && f['organization_email'].invalid" >
                    <div *ngIf="f['organization_email'].errors && f['organization_email'].errors['required']">Email is required.</div>
                  </div>
            </div><pre></pre>
        </fieldset>
        
        <hr>
    </form>

    <div class="form-group">
        <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
            <button class="btn btn-success" (click)="submit()">Save</button>
        </div>
    </div>
</div>
</div>
</section>
</div>
</div>


