<div class="" style="height:500px; border-radius:5px; background-color:rgb(0, 0, 0);">
    
<div  class="row">
    <div class="col">
        <img src="assets/heart.jpeg" style="  width: 400px; height: 500px;">
    </div>
    <div class="col">
        <br><br>
        <h1 style="text-shadow: 4px 6px rgba(110, 110, 110, 0.555); color: aliceblue; margin-bottom: 35px; font-size:50px; font-weight: bolder;">DONATE AND KEEP THE<br> WORLD BEATING...</h1>
        <br>
        <button href="#" routerLink="/donate" routerLinkActive="active" class="b">STOP WATING! START GIVING...</button>

    </div>
</div>
</div>
