.button{
    display: block;
    padding: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    font-size: 17px;
    text-shadow: 1px 1px #f7f7f7;
    border-radius: 10px;
    width: 220px;
}
.button:hover{
    background-color: whitesmoke;
    color:rgb(17, 17, 58);
    border-radius: 12px;
    font-size: 20px;
    transition: 0.3s;

}