<div  style="height: 500px; background-color:rgb(17, 17, 58);">
    
<div class="justify-content-end">
<img src="" style=" float: right; width: 800px; height: 500px;">
</div>

<div class="container" style="width: 700px; margin: 5px; padding:30px;">
    <div class="justify-content-start">
        <br><br>
        <h1 style="color: aliceblue; margin: 20px;"><b>DONATE AND KEEP THE<br> WORLD BEATING</b></h1>
    <div class="row g-2">
    <div class="col-6">
    <button  routerLink="/sign-up" routerLinkActive="active" class="button" style="background-color: rgb(201, 69, 69);"><span class="bi bi-droplet"></span> Donate</button>
    </div>
    <div class="col-6">
        <button  routerLink="" routerLinkActive="active" class="button" style="background-color: rgb(201, 201, 201)"><span class="bi bi-bag-plus"></span> Request</button>
    </div>
    <div class="col-6">
        <button  routerLink="" routerLinkActive="active" class="button" style="background-color: rgb(83, 167, 83);" ><span class="bi bi-bus-front-fill"></span> Blood drives</button>
    </div>
    <div class="col-6">
        <button  routerLink="" routerLinkActive="active" class="button" style="background-color: rgb(207, 207, 19);"><span class="bi bi-journal"></span> Learn</button>
    </div>
    </div>
</div>
</div>
</div>
