<div class="body">
    <div class="header">
        <p style="color: whitesmoke; font-size: 60px;">LEARN ABOUT <span style="color: #d9534f;">BLOOD</span> DONATION</p>
    </div>
    <br><br>

    <div class="container">
        <h1 style="text-align: center;">BLOOD BANKS....ALL YOU NEED TO KNOW</h1><br>
        <div class="row">
            <div class="col-8">
                <p>The term “blood banking” has been around since 1937, but the practice of using donated blood for various medical reasons has been around for thousands of years. Yes, you read that right, thousands! How and where did blood banks start? What happens to your blood after you donate? And what are the benefits of donating blood?
                You’ve got questions; we’ve got answers! Let’s dive into everything you need to know about blood banking — including what blood banks are, their history, how they work, and why you should consider donating blood today. </p><br>
                <h2>What is a Blood Bank?</h2>
                <p>Blood banks are facilities that collect, type, process, test, and store blood until it is needed for a transfusion or some other medical procedure. While whole blood is the most common blood product stored in these facilities, it is not unusual to find platelets, plasma, or red cells as well. After the blood is stored, hospitals order the blood they need based on their patient load. </p>
                <br>
                <h2>History of Blood Banking</h2>
                <p>As we look at the history of blood banking, it helps to understand why it’s important to store blood in the first place. In the modern day, blood stored in banks is used for blood transfusions during surgeries, to treat injured patients suffering from blood loss, and in many other medical situations. Before blood banking, blood transfusions had to be performed directly from a donor to the patient; otherwise, the blood would coagulate and become unusable. </p>
                <p>Before transfusions, bloodletting was a common procedure used in medical practice as early as 2000 BC. The thought was that by performing a controlled bleed on a patient, doctors could rid them of infected or weak blood. We know now, however, that this isn’t very effective. The practice of bloodletting faced opposition beginning in the 1800s and gradually began to fall out of fashion. Interestingly, bloodletting has widely been considered a medical precursor to modern-day blood transfusions. </p>
                <p>The first blood transfusion to a human was recorded in 1667 when King Louis XIV’s doctor transfused blood from a sheep to a 15-year-old boy. Miraculously, the boy lived following this procedure. In 1818, the first recorded human-to-human blood transfusion was performed. Unfortunately, after showing initial improvement, the patient who received this transfusion died from their ailments. </p>    
                <br>    
            </div>
            <div class="col-4">
            <app-donate-side-nav style="float: right;"></app-donate-side-nav> 
            </div>
        </div>

    </div>

