<div class="body">
    <div class="header">
        <p style="color: whitesmoke; font-size: 60px;">HOW CAN WE <span style="color: #d9534f;">HELP YOU?</span></p>
    </div>
    <br><br>
    <div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Do you have Issues or Concerns About Your Blood Donation?</h2>
            <div>
                <ul>
                    <li class="square">
                        Second Thoughts About the Safety of Your Blood? If you have second thoughts or new reasons to believe that the blood you donated will not be completely safe for transfusion to a patient,
                         please call <b>{{contactNumber1}}</b> At the voice message prompt, press 2 for donor, and then 3 to access this confidential line. Please call without delay.
                    </li>
                    <li class="square">
                        Donor Care Response Line – If you feel you are not recovering adequately from your donation, or you are currently experiencing arm discomfort, please call <b>{{contactNumber2}}</b> At the voice message prompt,
                         press 1 for donor, and then 3 to leave a message. A member of our nursing staff will return your call.
                    </li>
                </ul>
            </div>
            <br>

            <div class="d-flex justify-content-start">
                <i class="bi bi-folder2 " style='font-size:50px;'></i><h2>Donors: Find a location, give feedback, host a drive, etc.</h2>
            </div>
            <p style="margin-left: 60px;">If you would like to update your contact information, ask a question about eligibility, need to find a blood drive location, etc.,
                our Donor Response Center is here to help! Please call <b>{{contactNumber3}}</b></p>
            <div class="d-flex justify-content-start">
                <i class="bi bi-pencil-square" style='font-size:50px;'></i><h2>Press and Media Inquires</h2>
            </div>
            <p style="margin-left: 60px;">Contact Press and Media Coordinator Dina Salah <br>
                xxx@gmail.com</p>    
            <div class="d-flex justify-content-start">
                <i class="bi bi-phone" style='font-size:50px;'></i><h2>General Questions</h2>
            </div>
            <p style="margin-left: 60px; font-size: 35px;">{{contactNumber4}}</p>    
        </div>

        <div class="col-md-6">
          <h2>Don’t want to call? Fill out the form and we will be in touch soon!</h2><br>
          <h4>CONTACT US!</h4>

            <form class="card-body cardbody-color p-lg-5">

              <div class="mb-3">
                <input type="text" class="form-control" id="first-name" aria-describedby="emailHelp"
                  placeholder="first name">
              </div>
              <div class="mb-3">
                <input type="text" class="form-control" id="last-name" placeholder="last name">
              </div>
              <div class="mb-3">
                <input type="email" class="form-control" id="email" placeholder="Email">
              </div>
              <div class="mb-3">
                <label>Message</label>
                <textarea id="message" class="form-control">
                </textarea>
              </div>
              <div class="text-center"><button type="submit" class="btn btn-danger px-5 mb-5 w-100">Submit</button></div>
  
            </form>
        </div>
    </div>
    </div>

</div>
