.header{
  background-color: black;
  height: 200px;
  width: 100%;
  padding: 50px 20px 30px 60px;
  text-shadow: 4px 6px rgba(110, 110, 110, 0.555); 
  color: aliceblue;
}

h2{
    text-align: left;
    color: #cc0c06;
    
}
.form-control{
  background-color: whitesmoke;
}
.square{
  list-style-type: square;
}
i{
  color: #cc0c06;
  margin-right: 10px;
}
