<div class="body">
    <div class="header">
        <p style="color: whitesmoke; font-size: 60px;">ABOUT US</p>
    </div>
    <br><br>
    
    <div class="container">
        <h2>There when you need us!</h2><br>
        <p>
        SHERYAAN is found in 2022. we seek to ease the blood donation process and imporve donation management.
        Our mission is to support our healthcare partners with adequate, safe, cost-effective blood supplies and services.
        When we share blood, healing happens; individuals thrive; and families remain whole. <br>
        Our vision is to improve blood donation and make it easier for patients and hospitals to get blood.
        Giving blood enriches our life experience, casting aside our differences to link the human race through a common, natural bond.

        </p><br>

        <img src="assets\about.jpg">
        <br>
    </div>
    <br>
</div>
