<div class="body">
    <div class="header">
        <p style="color: whitesmoke; font-size: 60px;">MY STOCK</p>
    </div>
    <br><br>
    <div class="container">
        <!-- <h1>MY STOCK</h1> -->
        <b><div class="bi bi-plus-lg" [routerLink]="['/hospital-stock-form/', id]">  Add </div></b>

      <br>
      <form [formGroup]="form">
        <table class="table">
            <thead class="table-dark">
              <tr>
                <th>#</th>
                <th>Blood Type</th>
                <th>Quantity</th>
                <th>Respond</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let s of stock; index as i"> 
              <tr *ngIf="stockselected != s" (click)="selectStock(s)">
                <td>{{i+1}}</td>
                <td>{{s.blood_type}} </td>
                <td>{{s.blood_quantity}}</td>
                <td>
                  <button class="btn btn-primary" [hidden]="enableEdit" (click)="enableEditMethod($event, i)"><i class="bi bi-pencil-fill"></i></button>
                  &nbsp;
                  <button [hidden]="enableEdit" class="btn btn-danger" value={{s.blood_id}} (click)="delete(s.blood_id)"><i class="bi bi-trash-fill"></i></button></td>
              </tr>

              <tr *ngIf="stockselected == s">
                <td>{{i+1}}</td>
                <td>{{s.blood_type}}</td>
                <td><input type="text" formControlName="blood_quantity" [value]="s.blood_quantity"></td>
                <td><button  class="btn btn-primary btn-sm" *ngIf="enableEdit && enableEditIndex == i" type="submit" (click)="onupdatestock()">save</button></td>
              </tr>
              </ng-container>
            </tbody>
          </table>
        </form>
          <br><br>
    </div>

</div>