<body ng-app="myapp" ng-controller="tableController">
<div class="body">
  <div class="header">
    <div  class="row">
        <div class="col">
            <p style="padding-top: 0px; color: whitesmoke; font-size: 72px;"><span style="color: rgb(255, 208, 0); font-size: 75px;">S</span>TOCK</p>
        </div>
        <div class="col">
            <img src="assets/Heartbeat.png" style="padding:0px; margin: 0px; width: 930px; height: 260px;">
        </div>
    </div>
  
  </div>
  
    <br><br><br>
    <div class="container">
        <!-- <h1>MY STOCK</h1> -->
        <b><div class="bi bi-plus-lg" [routerLink]="['/hospital-stock-form/', id]">  Add </div></b>

      <br>
        <table class="table">
            <thead class="table-dark">
              <tr>
                <th>#</th>
                <th>Blood Type</th>
                <th>Quantity</th>
                <th>Respond</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of stock; index as i">
                <td>{{i+1}}</td>
                <td>{{item.blood_type}} </td>
                <td>
                  <input name="blood_quantity" type="text" [(ngModel)]="stock[i].blood_quantity" [disabled]="!item.isEditing" />
                </td>
  
                <td>
                  <button class="btn btn-primary" (click)="editItem(item)" ><i class="bi bi-pencil-fill"></i>
                    {{ item.isEditing ? 'Cancel' : 'Edit' }}
                  </button>
                  &nbsp;
                  <button class="btn btn-danger" *ngIf="!item.isEditing" (click)="delete(item)"><i class="bi bi-trash-fill"></i></button>
                  <button class="btn btn-primary" *ngIf="item.isEditing" (click)="updateItem(item)">Update</button></td>
              
                </tr>

            </tbody>
          </table>
          <br><br>
    </div>

</div>
</body>