 <!-- <div class="container">
   
   
    
    <form class="Orgnization"  #localForm="ngForm" [formGroup]="UserForm">  
        <div class="mb-3" style="font-weight:bolder; margin: 13px; font-size: 20px;">
            Make sure that all information request is correct to avoid any problem
        </div>
        <div  class="">
            <input placeholder="First Name" class="form-control" [minlength]="3" [maxlength]="20" formControlName="user_Fname" [class.is-invalid]="localForm.submitted && UserForm.get('user_Fname')?.invalid">
            <div class="invalid-feedback">
                First name is required
            </div>
        </div>

        <pre></pre>
        <div  >
            
            <input type="text"  placeholder="Last name"class="form-control" [minlength]="3" [maxlength]="20" formControlName="user_Lname" [class.is-invalid]="localForm.submitted && UserForm.get('user_Lname')?.invalid" >
            <div class="invalid-feedback">
                Last name is required
            </div>
        </div>
<pre></pre>
<div class="">
    <input class="form-control" type="date" placeholder="Date" name="date" [(ngModel)]="date">

</div>
<pre></pre>

<label  >Blood type:</label>
<div style="display: inline;" class="">
<input class="custom-control-input" type="radio"  value="O+"  formControlName="user_blood_type" ><label class="user-bloodType">O+</label>
<input class="custom-control-input" type="radio"  value="O-"  formControlName="user_blood_type" ><label class="user-bloodType">O-</label>
<input class="custom-control-input" type="radio"  value="A+"  formControlName="user_blood_type" ><label class="user-bloodType">A+</label>
<input class="custom-control-input" type="radio"  value="A-"  formControlName="user_blood_type" ><label class="user-bloodType">A-</label>
<input class="custom-control-input" type="radio"  value="B+"  formControlName="user_blood_type" ><label class="user-bloodType">B+</label>
<input class="custom-control-input" type="radio"  value="B-"  formControlName="user_blood_type" ><label class="user-bloodType">B-</label>
<input class="custom-control-input" type="radio"  value="AB+" formControlName="user_blood_type" ><label class="user-bloodType">AB+</label>
</div>
<pre></pre>
<div class="">
    <input class="form-control" type="text" placeholder="Quantity"   name="quantity"  formControlName="" >

</div>
<pre></pre>
<div  class="">
    <label  style="margin-right: 7px;">City:</label>
    <select class="drop" formControlName="user_city">
    <option value="6 October">  6 October</option>
    <option value="Dokki">      Dokki</option>
    <option value="New Cairo">  New Cairo</option>
    <option value="Nasr city">  Nasr city</option>
    <option value="Madinty">    Madinty</option>
    </select>
</div>
<pre></pre>
 select hospital 
<div  class="">
    <input class="form-control" type="text" placeholder="hospital"   formControlName="" >
</div>
<pre></pre>

<div  class="">
    <input class="form-control" type="text" placeholder="Case"   formControlName="" >
</div>
<pre></pre>

<div  class="">
    <button class="btn btn-danger" type="submit" value="" style="margin: 10px;" (click)="addrequest()">Add</button>
</div>
<pre></pre>

</form>
</div> -->

<div class="container">
   
    <form class="Orgnization"  #localForm="ngForm" [formGroup]="UserForm">  
        <div class="mb-3" style="font-weight:bolder; margin: 13px; font-size: 20px;">
            Make sure that all information request is correct to avoid any problem
        </div>

        <label for="blood_type" style="margin-right: 7px;">Hospital:  </label>
        <select formControlName="hospital_name">
            <option value="0">--Select--</option>  
            <option *ngFor="let h of hospital">  
                 {{h.hospital_name}}
            </option>  
        </select>
        <br>
<pre></pre>
<label for="blood_type" style="margin-right: 7px;">Blood type:  </label>
        <select formControlName="blood_type">
            <option value="0">--Select--</option>  
            <option *ngFor="let b of blood">  
                {{b.blood_type}}  
            </option>  
        </select>
        <br>
<pre></pre>

<div class="">
    <input class="form-control" type="text" placeholder="Quantity"  formControlName="request_quantity">

</div>
<pre></pre>

<div  class="">
    <input class="form-control" type="text" placeholder="status"   formControlName="request_status">
</div>
<pre></pre>

<div  class="">
    <input class="form-control" type="text" placeholder="Case"   formControlName="request_case" >
</div>
<pre></pre>

<div  class="">
    <button class="btn btn-danger" type="submit" value="" style="margin: 10px;" (click)="addrequest()">Add</button>
</div>
<pre></pre>

</form>
</div>