.header{
    background-color: black;
    height: 200px;
    width: 100%;
    padding: 50px 20px 30px 60px;
    text-shadow: 4px 6px rgba(110, 110, 110, 0.555); 
    color: aliceblue;
  }

.card{
  width: 300px;
} 

.card:hover{
  transition: 0.5s;
  width: 330px;
}  
div.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}