<div class="body">
    <div class="header">
        <p style="color: whitesmoke; font-size: 60px;">LEARN ABOUT <span style="color: #d9534f;">BLOOD</span> DONATION</p>
    </div>
    <br><br>

    <div class="container">
        <div class="row">
            <div class="col-4" >
                <div class="card" >
                    <img class="card-img-top" src="assets\blood1.jpg" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">All about Blood</h4>
                      <p class="card-text">All About Blood What’s one thing you have in common with everyone you meet? Blood.</p>
                      <a href="#" class="btn btn-danger" routerLink="/learn-blood" routerLinkActive="active">Learn more</a>
                    </div>
                  </div>
            </div>

            <div class="col-4">
                <div class="card" >
                    <img class="card-img-top" src="assets\banks.jpg" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">Blood Banks....All you need to know</h4>
                      <p class="card-text">Blood Banks – Everything You Need to Know.</p>
                      <a href="#" class="btn btn-danger" routerLink="/learn-banks" routerLinkActive="active">Learn more</a>
                    </div>
                  </div>
            </div>

            <div class="col-4">
                <div class="card" >
                    <img class="card-img-top" src="assets\donation.jpg" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">Blood donor basics</h4>
                      <p class="card-text">Giving blood takes about an hour, and the difference it makes can last a lifetime!</p>
                      <a href="#" class="btn btn-danger" routerLink="/learn-donation" routerLinkActive="active">Learn more</a>
                    </div>
                  </div>
            </div>

        </div>
    </div>
    <br><br>
    
</div>
