.header{
    background-color: rgb(17, 17, 58);
    height: 250px;
    width: 100%;
    padding: 50px 20px 30px 60px;
  }

 .card{
  width: 300px;
 
 } 

.card:hover{
  width: 330px;
}  
div.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}