h1{
    margin: 5px;
    margin-bottom: 15px;
    margin-top: 50px;
}
p{
    margin: 5px;
    margin-top: 0px;
    width: 730px;
}
table{
    width: 500px;
    border-top: 2px solid rgba(211, 211, 211, 0.781);
}