<div class="container d-flex">
<div class="container" style="float: left;">
<h1>SAVE PEOPLE LIVES AND FEEL HAPPY</h1>
<p>As a loyalty member you'll collect points that can add up to some really great gifts. By collecting
    a certain number of points, you can get promotion on that hospital that you have donated in.
</p>
<br>

<table class="table table-striped">
<thead>
    <tr>
    <th style="vertical-align: middle;">
        <h4>BONUS</h4>
    </th>
    <th style="vertical-align: middle;">
        <h4>POINTS</h4>
    </th>
    </tr>
</thead>
<tbody>
    <tr>
    <td style="vertical-align: middle;">
        <h6>Invitation</h6>
    </td>
    <td style="vertical-align: middle;">
        <h6>50</h6>
    </td>
    </tr>
    <tr>
        <td style="vertical-align: middle;">
            <h6>Boold donation</h6>
        </td>
        <td style="vertical-align: middle;">
            <h6>70</h6>
        </td>
    </tr>
</tbody>
</table>

</div>
<app-donate-side-nav style="float: right;"></app-donate-side-nav>
</div>