<div class="navbar navbar-default" style="height: 55px;">
    <div class="navbar-header">
        <p class="navbar-brand" style="margin-left: 10px;">SHERYAAN</p>
        <!-- <img src=".\assets\logo1.jpeg"> -->
    </div>
    <div>
        <a href="#" class="upper-header">Contact Us</a>
        <a href="#" class="upper-header" routerLink="/sign-in" routerLinkActive="active">Login</a>
        <a href="#" class="upper-header" routerLink="/sign-up" routerLinkActive="active">Sign Up</a>
        <button (click)="clickSearch()" class="btn btn-danger" style="margin-right: 8px; margin-left: 4px;" >Search</button>
    </div>
    
</div>

<div  class="nav-bar">
    <div class="nav-links">
        <div class="navbar-brand">
        <a href="" routerLink="/home" routerLinkActive="active">Home</a>
        <a href="">Donate</a>
        <a href="">Blood drive</a>
        <a href="">Learn</a>
        <a href="">Request</a>
        <a href="">About us</a>
    </div>
</div>
</div>

<app-search [display]= "displaySearch" class="navbar-brand" ></app-search>
<!-- <div class="header">
    <div class="header-links">
        <a href="#" class="upper-header">Contact Us</a>
        <a href="#" class="upper-header" routerLink="/sign-in" routerLinkActive="active">Login</a>
        <a href="#" class="upper-header" routerLink="/sign-up" routerLinkActive="active">Sign Up</a>
        <button (click)="clickSearch()" class="btn btn-danger">Search</button>
    </div>
    
<div class="logo"><img src=".\assets\logo1.jpeg" width="200px" height="70px"></div> 
</div>
<pre></pre>
<div class="nav-bar">
    <div class="logo"><img src=""></div>
    <div class="nav-links">
        <a href="#" routerLink="/slider" routerLinkActive="active">Home</a>
        <a href="#">Donate</a>
        <a href="#">Blood drive</a>
        <a href="#">Learn</a>
        <a href="#">Request</a>
        <a href="#">About us</a>
    </div>
</div>
<app-search [display]= "displaySearch" ></app-search> -->
