.bottomnav a{
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}
.bottomnav a:hover{
    background-color: white;
    color: #2e3b53;
    border-radius: 5px;
}
.bottomnav a.active{
    background-color: #445575;
    color: white;
    border-radius: 5px;
}



