<nav class="navbar navbar-expand-sm justify-content-end">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Contact us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/sign-in" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/sign-up" routerLinkActive="active">Sign up</a>
        </li>
        <button (click)="clickSearch()" class="btn btn-danger" style="margin-right: 8px; margin-left: 4px;">Search</button>
    </ul>
</nav>    
    
    

<nav  class="navbar navbar-expand-md sticky-top" style="background-color: #2e3b53;">
    <a class="navbar-brand" href="#">SHERYAAN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <div class="bottomnav">  
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Donate</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Blood drives</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Learn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Request</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About us</a>
        </li>
    </ul>
    </div>
    </div>
</nav>

<app-search [display]= "displaySearch" class="navbar-brand" ></app-search>

    
