<div class="container">
    <div class="header" style="background-image: url('/assets/life.jpeg');">
        <!-- <p class="justify justify-content-center" style="background-color: antiquewhite; padding-left:0px; padding-right:0px; border-radius: 4px; color: rgb(145, 3, 3); font-size: 50px;"><span style="color: rgb(255, 208, 0); font-size: 65px;"> D</span>onate.. <span style="color: rgb(255, 208, 0); font-size: 65px;">S</span>urvive!</p> -->

    </div>
    <div>
        <br><br>
    <h1 class="story-header" >First story</h1><br>
    <p class="story-paragraph"> What is this..??
        The university is full of blood donation campaigns..!!
        I turned to a number of my classmates and said to them:
        Why all this advertising for blood donation?
        Someone replies:
        My friend, donating blood may save many lives, and you may be one of them.
        I smile at my friend and reply to her:
        Although I am not convinced of the subject, but I will donate.
        My friend points with his hand to one of the university halls, and then says:
        If you want to donate, go to this hall, and there you will find a number of nurses who will draw blood from you.
        After my friend finished speaking, I slowly walked toward the hall he referred to, despite my lack of conviction in the matter, but in the end it was a good deed and I would not lose anything.
I entered the hall and found a number of donors sitting on study chairs, and each nurse was drawing blood from them. I looked at the end of the hall and saw one of the donors getting up after he finished donating.
Do you want to donate your blood..??
I responded to her by saying:
Yes .

The nurse turned away from me and then came back with an empty bag of blood and a small syringe in her hands.
When the nurse came to me she said:
You look different from the rest of the donors and this is a feeling I have...??
I replied with a smile:
Yes, your words are correct. I am not convinced of the issue, but it is a charitable work and there are many people participating in it.
The nurse smiled at me after I finished speaking and said to me:
Come on, give me your hand.
So I extended my hand and inserted the syringe needle, and it was only a few minutes until the blood bag was full.
The nurse looked at me and said:
Now I'm done and thank you for your donation.
So I took out the syringe needle and put a small piece of cotton on the place of the cotton needle.
I only felt a little pain from all of this, so I got up and then left the hall.
Several days have passed since my donation, and here is the time for me to go to the university, and I have finished wearing my clothes.
I quickly leave the house and find the street empty of cars, and I started to move quietly, and when I find a car appearing to me and its driver sticking his head out of the window, he says to me in a loud voice:
Go away go away..!!
I was confused and afraid, but despite this feeling, I jumped, hoping to finish crossing the street, but the speed of the car was faster than me and shocked me, and as I threw the air and fell to the ground with force, and I only saw blackness..??
I feel a severe headache, and I begin to open my eyes, and when I find myself lying on a white bed, I move my head to look at the place, and when I find the nurse who drew blood from me standing near me..??
I looked at her and said:
What happened to me..??
The nurse replies:
You had an accident and a speeding car hit you.
I nod to the nurse and then say to her:
Yes, I remembered.
The nurse smiled at me and said:
Don't be afraid, you will only stay with us for a few days, and then you will leave.
I felt joy from the nurse's words and said to her:
Your words made me happy.
The nurse replies:
But do you know who saved you?
I answered her eagerly:
Who do I want to thank..!!
The nurse replies:
You saved yourself.
I feel astonished and astonished by the nurse's response. She said to her:
I did not understand..??
The nurse replied:
You bled badly when you were taken to the hospital, and when I saw you in the emergency department, I brought you your donated blood. Do you understand why she told you that you saved yourself?
I was stunned by the nurse's words and now I realize the value of the work I've done.

    </p>
    <a href="https://www.ahewar.org/debat/show.art.asp?aid=76336">Source</a>
    <br><hr><br>
</div>

<div>
<h1 class="story-header" >Secound story</h1><br>
<p class="story-paragraph"> 
    Secound story paragraph...
</p>
<a href="">Source</a>
<br><hr><br>
</div>
<br><br>
</div>