.header{
    border-radius: 3px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    opacity: 0.7;
    justify-items: center ;
    text-align: center;
    padding: 250px;
    /* text-shadow: 6px 8px rgba(0, 0, 0, 0.555);  */
  }

  .story-paragraph{
    font-size: 33px; 
    color: darkslategrey; 
    font-family: 'Roboto Slab', serif;
  }
  .story-header{
    font-size: 45px; 
  }
  a{
    font-size: 29px;
    text-decoration: none;
  }
  a:hover{
    color: rgb(175, 6, 6);
  }