ul{
    list-style: none;
    padding: 8px;
    padding-left: 1px;
}
a{
    text-decoration: none;
    color: aliceblue;
    font-size: x-large;
    text-align: left;
}
li{
    margin: 10px;
    margin-left: 0px;
    margin-right:0px ;
}
li:hover{
    transition: 3s;
    border-bottom: 1px solid aliceblue;
    border-radius: 2px;
    
}
.profile{
    margin: 10px;
    border-radius: 100%;
    background-color: black;
    height: 120px;
    width: 120px;
    margin-left: 20%;
    position: relative;
}