<div class="container" style="width: 250px; float: left; margin: 2px; background-color: #a32b2b;">

<ul>
    <div class="container" >
    <div class="profile ">
        <img [src]="profilePic" style="height: 120px; width: 120px;" ngModel>
    </div>
    <div style="margin:5px; margin-left:5%; text-align: center; ">{{name}} </div>
</div>

    <hr style="color: rgb(255, 255, 255);">
    <br>
    <a routerLink="/user-profile" routerLinkActive="active" href="#"><li class="bi bi-person-fill"> DASHBOARD</li></a>

    <a routerLink="" routerLinkActive="active" href="#"><li class="bi bi-bag-heart-fill"> MY REQUESTS</li></a>

    <a routerLink="" routerLinkActive="active" href="#"><li class="bi bi-droplet-fill"> MY DONATIONS</li></a>

    <a routerLink="/request" routerLinkActive="active" href="#"><li class="bi bi-table"> REQUEST</li></a>

</ul>
</div>