<div class="header">
    <div  class="row">
        <div class="col">
            <p style="padding-top: 0px; color: whitesmoke; font-size: 72px;"><span style="color: rgb(255, 208, 0); font-size: 75px;">R</span>EQUEST</p>
        </div>
        <!-- <div class="col">
            <img src="assets/Heartbeat.png" style="padding:0px; margin: 0px; width: 930px; height: 260px;">
        </div> -->
    </div>
  
  </div>
  <br><br><br>

  <div class="container">

    <b><div class="bi bi-plus-lg" style="font-size: 18px;"  [routerLink]="['/req-form-hospital/',id ]">  Add request </div></b>
    <br>
    <table class="table table-borderless table-hover">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
            </tr>
        </tbody>
    </table>
  </div>