<div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <div class="user-info">
                        <img class="img-profile img-circle img-responsive center-block "  src="assets/hospitalprofile.jpeg" alt="">
                        
                        <ul class="meta list list-unstyled" *ngFor="let h of hospital">
                            <li class="name" style="font-size:18px ; margin-top: 16px;">{{h.hospital_name}}</li>
                        </ul>
                    </div>
            		<nav class="side-menu">
        				<ul class="nav" *ngFor="let h of hospital">
        					<li><a href="#" [routerLink]="['/hospital/', h.hospital_id]"><span class="bi bi-person-fill"></span> PROFILE</a></li>
        					<li  class="active"><a href="#" [routerLink]="['/myrequest-hospital/', h.hospital_id]"><span class="bi bi-bag-heart-fill"></span> REQUESTS</a></li>
        					<li><a href="#"  [routerLink]="['/req-form-hospital/',id ]"><span class="bi bi-plus-lg"></span>ADD REQUEST</a></li>
        					<li><a href="#" [routerLink]="['/request-hospital/', h.hospital_id]"><span class="bi bi-table"></span> DONATE</a></li>
                            <li><a href="#" [routerLink]="['/hospital-stock/', h.hospital_id]"><span class="bi bi-cart-plus-fill"></span> MY STOCK</a></li>
    
        				</ul>
        			</nav>
                </div>

                <!--static profile info-->
                <div class="content-panel">
                    <fieldset class="fieldset">
                        <div class="row ">
                            <!-- <label *ngIf="isfetching">loading....</label> -->
                            <div class="col col-lg-2">
                        <h3 class="fieldset-title">Response</h3>
                    </div>
                    <div class="col ">
                        <p>veiw all donors responses to requests that where located in your hospital by patients</p>
                     <span><div class="bi bi-eye add-req"  style="font-size: 18px; width: 110px;"  [routerLink]="['/hospital-view-response/',id ]"> Responses </div>
                     </span>
                    </div>
                    </div>
                    </fieldset><br>
                    <fieldset class="fieldset">
                        <div class="row ">
                            <div class="col col-lg-2">
                        <h3 class="fieldset-title">My Requests</h3>
                        </div>
                        <div class="col col-lg-2">
                            <p>veiw requests made by you and update/delete them.</p>
                            <span><div class="bi bi-clipboard-data add-req"  style="font-size: 18px; width: 138px;"  [routerLink]="['/my-req-in-my-req-hospital/',id ]"> View Requests</div>
                            </span>
                        </div>
                        </div>
                    </fieldset><br>
                    <!-- <fieldset class="fieldset">
                        <div class="row ">
                            <div class="col col-lg-2">
                        <h3 class="fieldset-title">Requests</h3>
                        </div>
                        <div class="col col-lg-2">
                        <p>view patients' requests located in your hospital and the number of responses for each request</p>
                     <span><div class="bi bi-window-stack add-req"  style="font-size: 18px; width: 153px;"  [routerLink]="['/patient-requests/',id ]">  Patient Requests </div>
                     </span>
                        </div>
                        </div>
                    </fieldset>
                    <br> -->
                    <hr>

                    
                </div>
                
              

                