<div class="header">
  <div  class="row">
      <div class="col">
          <p style="padding-top: 0px; color: whitesmoke; font-size: 72px;"><span style="color: rgb(255, 208, 0); font-size: 75px;">R</span>EQUEST</p>
      </div>
      <div class="col">
          <img src="assets/Heartbeat.png" style="padding:0px; margin: 0px; width: 930px; height: 260px;">
      </div>
  </div>

</div>
<br><br><br><br>
<pre></pre>

<div class="body">
    <div class="container">
        <p  style="font-size: 25px; color: rgb(77, 76, 76);">In this request table you can donate to the hospitals and patients that need blood. by clicking "donate" on the request
            a message is sent to that hospital or patient to acknowlage that you are a user of the system. after donation you will
            get points that will be added to your account, later you can use it for gifts.
        </p>
        <br>
        <b><div class="bi bi-plus-lg" [routerLink]="['/req-form-hospital', id]">  Add request </div></b>
        <br>

      <br>
        <table class="table"  style="font-size: 22px; color: rgb(77, 76, 76);">
            <thead class="table-dark">
              <tr>
                <th>#</th>
                <th>Receiver</th>
                <th>place</th>
                <th>Date</th>
                <th>Blood type</th>
                <th>Quantity</th>
                <th>Case</th>
                <th>Address</th>
                <th>City</th>
                <th>Respond</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let r of requests; index as i">
                <td>{{i+1}}</td>
                <td>{{r.user_Fname}} {{r.user_Lname}}</td>
                <td>{{r.hospital_name}}</td>
                <td>{{r.date}}</td>
                <td>{{r.blood_type}}</td>
                <td>{{r.request_quantity}}</td>
                <td>{{r.request_case}}</td>
                <td>{{r.hospital_address}}</td>
                <td>{{r.city}}</td>
                <td><button class="btn btn-danger">Donate</button></td>
              </tr>
            </tbody>
          </table>

          <br><br>
    </div>

</div>