


<!-- <b><div class="" >   </div></b>   -->

<div class="container">
  <div class="view-account">
      <section class="module">
          <div class="module-inner">
              <div class="side-bar">
                  <div class="user-info">
                    <img class="img-profile img-circle img-responsive center-block "  src="assets/hospitalprofile.jpeg" alt="">
                        
                      <ul class="meta list list-unstyled" >
                          <li class="name" style="font-size:18px ; margin-top: 16px;">{{hospital_name}}</li>
                      </ul>
                  </div>
              <nav class="side-menu">
              <ul class="nav" >
                <li><a href="#" [routerLink]="['/hospital/',id]"><span class="bi bi-person-fill"></span> PROFILE</a></li>
                <li><a href="#" [routerLink]="['/myrequest-hospital/', id]"><span class="bi bi-bag-heart-fill"></span> REQUESTS</a></li>
                <li><a href="#"  [routerLink]="['/req-form-hospital/',id ]"><span class="bi bi-plus-lg"></span>ADD REQUEST</a></li>
                <li class="active"><a href="#" [routerLink]="['/request-hospital/',id]"><span class="bi bi-table"></span> DONATE</a></li>
                <li><a href="#" [routerLink]="['/hospital-stock/', id]"><span class="bi bi-cart-plus-fill"></span> MY STOCK</a></li>
  
              </ul>
            </nav>
              </div>
              <div class="content-panel">
                  <fieldset class="fieldset">
                      <div class="row ">
                  <div class="col ">
                    

<pre></pre>
<div class="body" style=" color: rgb(77, 76, 76);">
    <div class="container">
        <p>In Donate table you can donate to the hospitals that need blood. by clicking "contact" on the request
          you can easily contact the hospital in need.
        </p>
      <!-- filter by blood -->
      <div [hidden]="displayBloodFilter">
      <div  class="d-flex justify-content-center" style="font-size: 20px; margin-bottom: 5px;" >
      <label class="r"> Filter by blood type:</label> &nbsp;
      <form [formGroup]="bloodform">
        <input class="form-check-input" type="radio"  value="0" formControlName="blood_id" (click)="All()"><span> All</span>
      <span *ngFor="let b of bloodfilter, index as i">
      <input class="form-check-input" type="radio" [value]="i" formControlName="blood_id" (click)="filteredReqByBlood(b)"><span> {{b.blood_type}}</span>
    </span>
  </form>
</div>
 </div>
      <!--filter by hospital  -->
      <div [hidden]="displayHospitalFilter">
        <div  class="d-flex justify-content-center" style="font-size: 20px; margin-bottom: 5px;" >
        <label class="r"> Filter by hospital:</label> &nbsp;
        <form [formGroup]="hospitalform">
      <span>
        <select  formControlName="hospital_id" (change)="filteredReqByHospital()">
          <option   value="0"><div (onclick)="All()">All</div></option>
          <option *ngFor="let h of hospitalfilter, index as i"  
                  value={{h.hospital_id}}>  
                  {{h.hospital_name}}  
          </option>  
      </select>
      </span>
      <br>
    </form>
  </div>
   </div>

   <!-- filter by city -->
   <div [hidden]="displayCityFilter">
    <div  class="d-flex justify-content-center" style="font-size: 20px; margin-bottom: 5px;" >
    <label class="r"> Filter by city:</label> &nbsp;
    <form [formGroup]="cityform">
    <span>
    <select formControlName="location_code" (change)="filteredReqByCity()">
      <!-- <option value="0">--Select--</option>   -->
      <option   value="0"><button (click)="All()">All</button></option>
      <option *ngFor="let c of city, index as i" value={{c.location_code}} >  
              {{c.city}}
      </option>  
  </select>
  <br> 
  </span>
</form>
</div>
</div><br>
      <!-- retrive all -->
      <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table">
            <thead class="table-dark">
              <tr>
                <th></th>
                <th>Place</th>
                <!-- <th>Receiver</th> -->
                <th>Date</th>
                <th>Blood type</th>
                <th>Quantity</th>
                <th>Case</th>
                <th>Status</th>
                <th>City</th>
                <th>Respond</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of patients; index as i">
                <td></td>
                <td>{{p.hospital_name}}</td>
                <!-- <td>{{p.user_Fname}} {{p.user_Lname}} </td> -->
                <td>{{p.request_date}}</td>
                <td>{{p.blood_type}}</td>
                <td>{{p.request_quantity}}</td>
                <td>{{p.request_case}}</td>
                <td>{{p.request_status}}</td>
                <!-- addr -->
                <td>{{p.city}}</td>
                <td><button class="btn btn-success" >Contact</button></td>
              </tr>
            </tbody>
          </table>
        </div>
          <br><br>
    </div>

</div>

                  </div>
                  </div>
                  </fieldset>
                  <br>
                  <br>
                  <hr>

                  
              </div>
              
            

              