<div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <div class="user-info">
                        <img class="img-profile img-circle img-responsive center-block "  src="assets/hospitalprofile.jpeg" alt="">
                        
                        <ul class="meta list list-unstyled" *ngFor="let h of hospital">
                            <li class="name" style="font-size:18px ; margin-top: 16px;">{{h.hospital_name}}</li>
                        </ul>
                    </div>
            		<nav class="side-menu">
        				<ul class="nav" *ngFor="let h of hospital">
        					<li><a href="#" [routerLink]="['/hospital/', h.hospital_id]"><span class="bi bi-person-fill"></span> PROFILE</a></li>
        					<li><a href="#" [routerLink]="['/myrequest-hospital/', h.hospital_id]"><span class="bi bi-bag-heart-fill"></span> REQUESTS</a></li>
        					<li><a href="#"  [routerLink]="['/req-form-hospital/',id ]"><span class="bi bi-plus-lg"></span>ADD REQUEST</a></li>
        					<li><a href="#" [routerLink]="['/request-hospital/', h.hospital_id]"><span class="bi bi-table"></span> DONATE</a></li>
                            <li><a href="#" [routerLink]="['/hospital-stock/', h.hospital_id]"><span class="bi bi-cart-plus-fill"></span> MY STOCK</a></li>
    
        				</ul>
        			</nav>
                </div>
                <div class="content-panel">
                    <fieldset class="fieldset">
                        <div class="row ">
                            
                    <div class="col ">
                
                        <!-- table -->
                        <h3>R E S P O N S E S</h3>
                        <br>
                        <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <table class="table table-hover">
                            <thead class="table-dark">
                                <tr>
                                    <th></th>
                                    <th>Patient Name</th>
                                    <th>Patient ID</th>
                                    <th>Request Date</th>
                                    <th>Blood type</th>
                                    <th>Quantity</th>
                                    <th>Donor Name</th>
                                    <th>Donor ID</th>
                                    <th>Response date</th>
                                    <th>Response status</th>
                                    <th>Request status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let r of response; index as i">
                                    <td></td>
                                    <td>{{r.applicant_Fname}} {{r.applicant_Lname}}</td>
                                    <td>{{r.applicant_ID}}</td>
                                    <td>{{r.request_date | date: 'yyyy-MM-dd'}}</td>
                                    <td>{{r.blood_type}}</td>
                                    <td>{{r.request_quantity}}</td>
                                    <!-- <td>
                                        <input name="request_quantity" class="form-control" style="width: 60px;" type="text" [(ngModel)]="response[i].request_quantity" [disabled]="!r.isEditing" />
                                    </td> -->
                                    <td>{{r.participant_Fname}} {{r.participant_Lname}}</td>
                                    <td>{{r.participant_ID}}</td>
                                    <td>{{r.response_date| date: 'yyyy-MM-dd'}}</td>

                                    <td *ngIf="r.response_status == 0">
                                        <!-- check the request_id i/p -->
                                        <button class="btn btn-secondary" style="width: 95px;  height: fit-content; font-weight: bold;"  data-bs-toggle="modal" data-bs-target="#qty" *ngIf="!r.isEditing" (click)="editItem(r)" >Pending</button>
                                        <form [formGroup]="form" *ngIf="r.isEditing">
                                            <label>quantity donated:</label> &nbsp;
                                            <input type="text" style="background-color: rgb(221, 234, 250); width: 30px;" formControlName="don_quantity"> &nbsp;
                                            <button class="btn btn-primary" (click)="complete(r)">submit</button>
                                            </form>
                                        
                                        <!-- <button style="width: 95px; height: fit-content; font-weight: bold;" class="btn btn-warning" *ngIf="r.isEditing" (click)="complete(r)">update</button> -->
                                    </td>
                                    <td *ngIf="r.response_status == 1">
                                        <button class="btn btn-danger" style="width: 95px; font-weight: bold;" data-bs-toggle="modal" data-bs-target="#qty"  *ngIf="!r.isEditing" (click)="editItem(r)">Expired</button>
                                        <form [formGroup]="form" *ngIf="r.isEditing">
                                            <label>quantity donated:</label> &nbsp;
                                            <input type="text" style="background-color: rgb(221, 234, 250); width: 30px;" formControlName="don_quantity"> &nbsp;
                                            <button class="btn btn-primary" (click)="complete(r)">submit</button>
                                            </form>
                                        <!-- <button style="width: 95px; height: fit-content; font-weight: bold;" class="btn btn-warning" *ngIf="r.isEditing" (click)="complete(r)">update</button> -->
                                    </td>
                                    <td *ngIf="r.response_status == 2">
                                        <button class="btn btn-info" disabled style="width: 95px; font-weight: bold;">Completed</button>
                                    </td>

                                    <td *ngIf="r.request_status == 0">
                                        <!-- check the request_id i/p --> 
                                        <div style="width: 95px; font-weight: bold; color: #40babd;">Ongoing</div>
                                    </td>
                                    <td *ngIf="r.request_status == 1">
                                        <div style="width: 95px; font-weight: bold; color: grey;" >Fullfilled</div>
                                    </td>
                                    

                                    <!-- <div class="modal fade" id="qty">
                                        <div class="modal-dialog" >
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h4 class="modal-title">Thank you for your donation!</h4>
                                              <button class="btn-close" data-bs-dismiss="modal" ></button>
                                            </div>
                                            <div class="modal-body">
                                                
                                            </div>
                                          </div>
                                        </div>
                                    </div> -->
                                    
                                </tr>
                            </tbody>
                        </table>

                    </div>    
                    </div>
                    </div>
                    </fieldset>
                    <br>
                    <br>
                    <hr>

                    
                </div>
                
              

                