<!-- <app-hospital-profile></app-hospital-profile> -->
<!-- <app-user-profile></app-user-profile> -->
<div class="body">
    <div class="header">
        <p style="color: whitesmoke; font-size: 60px;"><span style="color: #ff241d;">BLOOD </span> DRIVES</p>
    </div>
    <br><br>
    <div class="container">
        <p class="para">
            Events planned by organization in our systems are available here.
            Feel free to find the nearst blood drive to you and approach it to save a life and keep the world beating!
        </p>
        <img>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Event Address</th>
                    <th>Event City</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let b of blood_drives; index as i">
                    <td>{{i + 1}}</td>
                    <td>{{b.event_address}}</td>
                    <td>{{b.city}}</td>
                    <td>{{b.event_startDate}}</td>
                    <td>{{b.event_endDate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>