 
<div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <div class="user-info">
                        <img class="img-profile img-circle img-responsive center-block "  src="" alt="">
                        
                        <ul class="meta list list-unstyled" *ngFor="let u of org">
                            <li class="name" style="font-size:18px ; margin-top: 16px;"><b>{{u.organization_name}}</b></li>
                        </ul>
                    </div>
            		<nav class="side-menu">
        				<ul class="nav"*ngFor="let o of org">
        					<li class="active"><a href="#" [routerLink]="['/organization/', id]"><span class="bi bi-person-fill"></span> PROFILE</a></li>
        					<li ><a href="#" [routerLink]="['/my-event/', id]"><span class="bi bi-bag-heart-fill"></span>  MY EVENTS</a></li>
                            <li ><a href="#" [routerLink]="['/add-event/', id]"><span class="bi bi-plus-lg"></span>  ADD EVENT</a></li>
        				</ul>
        			</nav>
                </div>

                <!--static profile info-->
                <div class="content-panel">
                    <fieldset class="fieldset">
                        <div class="row ">
                            <label *ngIf="isfetching">loading....</label>
                            <div class="col col-lg-2">
                        <h3 class="fieldset-title">Personal Info</h3>
                    </div>
                    <div class="col ">
                        <div class="mb-3" *ngFor="let o of org"><br>
                            <label><b>Organization Name:  </b>{{o.organization_name}} </label><br>
                            <label><b>Organization City:  </b>{{o.orgaization_city}} </label><br>
                        </div>
                    </div>
                    </div>
                    </fieldset><br>
                    <fieldset class="fieldset">
                        <div class="row ">
                            <div class="col col-lg-2">
                        <h3 class="fieldset-title">Contact Info</h3>
                        </div>
                        <div class="col col-lg-2">
                        <div class="mb-3" *ngFor="let o of org">
                            <label><b>Email:  </b>{{o.organization_email}} </label><br>
                            <label><b>Phone number:  </b>{{o.organization_phoneNo}}</label>
                        </div>
                        </div>
                        </div>
                    </fieldset>
                    <hr><br>
                    <div class="form-group">
                        <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                            <div class="d-flex" *ngFor="let o of org">
                            <a href="#" [routerLink]="['/organization-profile/', o.organization_id, 'update']" class="btn btn-primary m-1">Update</a>    
                            <!-- <button class="btn btn-primary m-1" type="submit" >Update</button> -->
                            <button class="btn btn-danger m-1" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal" >Delete account</button>
                            </div>
                        </div>

                    </div>
                </div>
                
                <!-- modal -->
                  <div class="modal fade" id="deleteModal">
                    <div class="modal-dialog" >
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">DELETE!!</h4>
                          <button class="btn-close" data-bs-dismiss="modal" ></button>
                        </div>
                        <div class="modal-body">
                            <h2>Sure want to delete your account?</h2> 

                           <div  class="mb-3"> 
                            <div>
                              </div>
                              <h5> Code is sent to your email</h5>
                                <input [(ngModel)]="verificationCode" placeholder="Enter Verification Code" class="form-control">
                                <p style="color: rgba(6, 55, 180, 0.849);" class="d-flex justify-content-center">{{ message }}</p>
                                
                            </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-warning" (click)="sendEmail()">Send</button>
                          <button type="button" class="btn btn-danger" (click)="verifyCode()">Verify Code</button>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </section>
    </div>
</div>


                