<div class="container">

    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <div class="user-info">
                        <img class="img-profile img-circle img-responsive center-block "  src="" alt="">
                        
                        <ul class="meta list list-unstyled">
                            <!-- <li class="name">{{user.fname}} {{user.lname}}</li> -->
                        </ul>
                    </div>
            		<nav class="side-menu">
        				<ul class="nav">
        					<li class="active"><a href="#" routerLink="/user-profile" routerLinkActive="active"><span class="bi bi-person-fill"></span> PROFILE</a></li>
        					<li><a href="#" routerLink="/myrequest-user" routerLinkActive="active"><span class="bi bi-bag-heart-fill"></span>  MY REQUESTS</a></li>
        					<li><a href="#" routerLink="" routerLinkActive="active"><span class="bi bi-droplet-fill"></span> MY DONATIONS</a></li>
        					<li><a href="#" routerLink="/request" routerLinkActive="active"><span class="bi bi-table"></span> REQUEST</a></li>
        				
        				</ul>
        			</nav>
                </div>

<!--editable profile info-->
<div class="content-panel" >
    <form class="form-horizontal" [formGroup]="form"  >
        <fieldset class="fieldset">
            <h3 class="fieldset-title">Personal Info</h3>
            
            <div  class="mb-3">
                <input required placeholder="first name" type="text" class="form-control" formControlName="user_Fname" value="user_Fname">
                <div *ngIf="f['user_Fname'].touched && f['user_Fname'].invalid" >
                    <div *ngIf="f['user_Fname'].errors && f['user_Fname'].errors['required']">User name is required.</div>
                  </div>
            </div><pre></pre>

            <div  class="mb-3">
                <input type="text" placeholder="last name" class="form-control" formControlName="user_Lname">
                <div *ngIf="f['user_Lname'].touched && f['user_Lname'].invalid" >
                    <div *ngIf="f['user_Lname'].errors && f['user_Lname'].errors['required']">user name is required.</div>
                  </div>
            </div><pre></pre>

            <div  class="mb-3">
                <input type="text"  placeholder="SNN"  class="form-control" formControlName="user_national_ID">
                <div *ngIf="f['user_national_ID'].touched && f['user_national_ID'].invalid" >
                    <div *ngIf="f['user_national_ID'].errors && f['user_national_ID'].errors['required']">user ssn is required.</div>
                  </div>
            </div><pre></pre>

            <div  class="mb-3"> 
                <!-- /the value must be bet 18 &60/ -->
                <input type="text"   placeholder="Age" class="form-control"  formControlName="user_age"> 
                <div *ngIf="f['user_age'].touched && f['user_age'].invalid" >
                    <div *ngIf="f['user_age'].errors && f['user_age'].errors['required']">required.</div>
                  </div>
            </div><pre></pre>

            <div  class="mb-3">
                <input type="text" placeholder="Address" class="form-control" formControlName="user_address">
                <div *ngIf="f['user_address'].touched && f['user_address'].invalid" >
                    <div *ngIf="f['user_address'].errors && f['user_address'].errors['required']">required.</div>
                  </div>
            </div><pre></pre>


            <label >Gender:</label>
            <div style="display: inline;" class="mb-3">
                <input class="custom-control-input" type="radio" value="male" formControlName="user_gender"><label for="male">Male</label>
                <input class="custom-control-input" type="radio" value="female" formControlName="user_gender"><label for="female">Female</label>
            </div>
            <pre></pre>

            <div  >
                <label  style="margin-right: 7px;">City:</label>
                <select class="drop" formControlName="user_city" value="user_city">
                <option value="6 October"  >6 October</option>
                <option value="Dokki"  >Dokki</option>
                <option value="New Cairo"  >New Cairo</option>
                <option value="Nasr city"  >Nasr city</option>
                <option value="Madinty"  >Madinty</option>
                </select>
            </div>
            <pre></pre>

            <label for="bloodType">Blood type:</label>
            <div style="display: inline;" class="mb-3">
            <input class="custom-control-input" type="radio"  value="O+" formControlName="user_blood_type" ><label class="user-bloodType" for="O+">O+</label>
            <input class="custom-control-input" type="radio"  value="O"  formControlName="user_blood_type" ><label class="user-bloodType" for="O"> O-</label>
            <input class="custom-control-input" type="radio"  value="A+" formControlName="user_blood_type"  ><label class="user-bloodType" for="A+"> A+</label>
            <input class="custom-control-input" type="radio"  value="A-" formControlName="user_blood_type"  ><label class="user-bloodType" for="A-">A-</label>
            <input class="custom-control-input" type="radio"  value="B+" formControlName="user_blood_type" ><label class="user-bloodType" for="B+">B+</label>
            <input class="custom-control-input" type="radio"  value="B-" formControlName="user_blood_type" ><label class="user-bloodType" for="B-">B-</label>
            <input class="custom-control-input" type="radio"  value="AB+"formControlName="user_blood_type"  ><label class="user-bloodType" for="AB+">AB+</label>
            </div>
            <pre></pre>

            <div  class="mb-3"> 
                <input type="text" placeholder="health status" class="form-control" formControlName="user_health_status" >
                <div *ngIf="f['user_health_status'].touched && f['user_health_status'].invalid" >
                    <div *ngIf="f['user_health_status'].errors && f['user_health_status'].errors['required']">required.</div>
                  </div>
            </div><pre></pre>
            <div class="form-group avatar">
            
                <div class="form-inline col-md-10 col-sm-9 col-xs-12">
                    
                    <button type="submit" class="btn btn-danger">Update Image</button>
                </div>
            </div><pre></pre>
            <div  class="mb-3"> 
                
                <!-- check validity -->
                <input type="password"  placeholder="Password"  class="form-control" formControlName="user_password" >
                <div *ngIf="f['user_password'].touched && f['user_password'].invalid" >
                    <div *ngIf="f['user_password'].errors && f['user_password'].errors['required']">required.</div>
                  </div>
            </div>

            <br>
        </fieldset>
        <fieldset class="fieldset">
            <h3 class="fieldset-title">Contact Info</h3><br>
            <div  class="mb-3"> 
                <!-- why validation is not working -->
                <input type="text"  placeholder="phoneNumber"  class="form-control" formControlName="user_phoneNo" >
                <div *ngIf="f['user_phoneNo'].touched && f['user_phoneNo'].invalid" >
                    <div *ngIf="f['user_phoneNo'].errors && f['user_phoneNo'].errors['required']">required.</div>
                  </div>
            </div>
            <pre></pre>
            <div  class="mb-3">
                <input type="email" placeholder="Email"  class="form-control" formControlName="user_Email" >
                <div *ngIf="f['user_Email'].touched && f['user_Email'].invalid" >
                    <div *ngIf="f['user_Email'].errors && f['user_Email'].errors['required']">required.</div>
                  </div>
            </div>
        </fieldset>
        
        <hr>
    </form>
    <div class="form-group">
        <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
            <button class="btn btn-success" type="submit" (click)="submit()">update</button>
        </div>
    </div>
</div>
</div>
</section>
</div>
</div>
