<div class="container">

    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <div class="user-info">
                        <img class="img-profile img-circle img-responsive center-block "  src="assets/redprofile.jpeg" alt="">
                        
                        
                        <ul class="meta list list-unstyled">
                             <li class="name" style="font-size:18px ; margin-top: 16px;"><b>{{username}} {{Lastname}}</b></li>
                        </ul>
                    </div>
            		<nav class="side-menu">
        				<ul class="nav"  >
        					<li class="active"><a href="#" [routerLink]="['/user/',id]"><span class="bi bi-person-fill"></span> PROFILE</a></li>
        					<li><a href="#" [routerLink]="['/myrequest-user/', id]"><span class="bi bi-bag-heart-fill"></span> MY REQUEST</a></li>
                            <li ><a href="#"   [routerLink]="['/req-form/',id]"><span class="bi bi-plus-lg"></span> ADD REQUEST</a></li>
        					<li><a href="#" [routerLink]="['/my-donations-user/', id]"><span class="bi bi-droplet-fill"></span> MY DONATIONS</a></li>
        					<li><a href="#" [routerLink]="['/request/', id]"><span class="bi bi-table"></span> DONATE</a></li>
                            
        				</ul>
        			</nav>
                </div>

<!--editable profile info-->
<div class="content-panel" >
<form class="Patient" #localForm="ngForm"  [formGroup]="form">
        <fieldset class="fieldset">
            <h3 class="fieldset-title">Personal Info</h3>
            
        <div  class="mb-3">
        <input placeholder="First Name" class="form-control" [minlength]="3" [maxlength]="20" formControlName="user_Fname" [class.is-invalid]="localForm.submitted && form.get('user_Fname')?.invalid">
        <div class="invalid-feedback">
            First name is required
        </div>
    </div>

    <pre></pre>

            <div  class="mb-3">
        
        <input type="text"  placeholder="Last name"class="form-control" [minlength]="3" [maxlength]="20" formControlName="user_Lname" [class.is-invalid]="localForm.submitted && form.get('user_Lname')?.invalid" >
        <div class="invalid-feedback">
            Last name is required
        </div>
    </div>

    <pre></pre>

            <div  class="mb-3">
        
        <input type="text"  placeholder="SNN"  class="form-control" [minlength]="14" [maxlength]="14" formControlName="user_national_ID" [class.is-invalid]="localForm.submitted && form.get('user_national_ID')?.invalid">
        <div class="invalid-feedback">
            SNN is required
        </div>
    </div>

    <pre></pre>

                <div  class="mb-3"> 
         <!-- min="18" max="60"  -->
        <input type="text"   placeholder="Age"  class="form-control" [minlength]="1" [maxlength]="2" formControlName="user_age" > 
        
        <div class="warning" *ngIf="user_age && (user_age.invalid && (user_age.dirty || user_age.touched))">
            <div *ngIf="user_age.errors?.['required']">Age is required.</div>
            <div *ngIf="user_age.errors?.['min'] || user_age.errors?.['max']">Age must be between 18 and 60.</div>
            <div *ngIf="user_age.errors?.['pattern']">Age must contain only numbers.</div>
        </div>
    </div>

    <pre></pre>

        <div  class="mb-3">
        
        <input type="text" placeholder="Address"  class="form-control" [minlength]="3" [maxlength]="50"  formControlName="user_address" [class.is-invalid]="localForm.submitted && form.get('user_address')?.invalid">
        <div class="invalid-feedback">
            Address is required
        </div>
    </div>

    <pre></pre>


    <label >Gender:</label>
    <div style="display: inline;">
    <input type="radio" class="custom-control-input"  value="Male" formControlName="user_gender" >
    <label class="custom-control-label" >Male</label>
    <input  type="radio" class="custom-control-input"  value="Female"   formControlName="user_gender" >
    <label class="custom-control-label" >Female</label>
    </div>
    <pre></pre>

        <div>
        <label  style="margin-right: 7px;">City:</label>
        <select class="drop" formControlName="user_city">
        <option value="6 October">  6 October</option>
        <option value="Dokki">      Dokki</option>
        <option value="New Cairo">  New Cairo</option>
        <option value="Nasr city">  Nasr city</option>
        <option value="Madinty">    Madinty</option>
        </select>
    </div>
    <pre></pre>
    <label  >Blood type:</label>
    <div style="display: inline;" class="mb-3">
    <input class="custom-control-input" type="radio"  value="O+"  formControlName="user_blood_type" ><label class="user-bloodType">O+</label>
    <input class="custom-control-input" type="radio"  value="O-"  formControlName="user_blood_type" ><label class="user-bloodType">O-</label>
    <input class="custom-control-input" type="radio"  value="A+"  formControlName="user_blood_type" ><label class="user-bloodType">A+</label>
    <input class="custom-control-input" type="radio"  value="A-"  formControlName="user_blood_type" ><label class="user-bloodType">A-</label>
    <input class="custom-control-input" type="radio"  value="B+"  formControlName="user_blood_type" ><label class="user-bloodType">B+</label>
    <input class="custom-control-input" type="radio"  value="B-"  formControlName="user_blood_type" ><label class="user-bloodType">B-</label>
    <input class="custom-control-input" type="radio"  value="AB+" formControlName="user_blood_type" ><label class="user-bloodType">AB+</label>

</div>
<pre></pre>
        <div  class="mb-3"> 
        <textarea type="text" placeholder="health status" [maxlength]="100" class="form-control"  formControlName="user_health_status">
        </textarea>
    </div>
    <pre></pre>
            <!-- <div class="form-group avatar">
            <div class="form-inline col-md-10 col-sm-9 col-xs-12">
                    
                    <button type="submit" class="btn btn-danger">Update Image</button>
                </div>
            </div>
            <br> -->
            <div  class="mb-3"> 
        
    <input type="password" placeholder="Password" class="form-control"  formControlName="user_password">
        
    <div class="warning" *ngIf="user_password && (user_password.invalid && (user_password.dirty || user_password.touched))">
        <div class="warning" *ngIf="user_password.errors?.['required']">Password is required.</div></div>
        <div class="warning" *ngIf="user_password.errors?.['pattern']">Password must contain at least 8 characters in length, but no more than 32, at least one capital letter, one number, and one special character.</div>
    
    </div>
    <br>
        </fieldset>
        <fieldset class="fieldset">
            <h3 class="fieldset-title">Contact Info</h3><br>
            <div  class="mb-3"> 
    
        <input type="text" placeholder="PhoneNumber"  class="form-control" [minlength]="11" [maxlength]="11" formControlName="user_phoneNo"  [class.is-invalid]="localForm.submitted && form.get('user_phoneNo')?.invalid">
        <div class="invalid-feedback">
            phone number is required
        </div>
    </div>
    <pre></pre>
        <div  class="mb-3">
        
        <input type="email" placeholder="Email" class="form-control"   formControlName="user_Email" [class.is-invalid]="localForm.submitted && form.get('user_Email')?.invalid">
        <div class="invalid-feedback">
            Email is required
        </div>
    </div>
    <pre></pre>
        </fieldset>
        
        <hr>
    </form>
    <div class="form-group">
        <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
            <button class="btn btn-success" type="submit" [disabled]="form.invalid" (click)="submit()">update</button>
        </div>
    </div>
</div>
</div>
</section>
</div>
</div>
