<div class="header">
    <div  class="row">
        <div class="col">
            <p style="padding-top: 0px; color: whitesmoke; font-size: 72px;"><span style="color: rgb(255, 208, 0); font-size: 75px;">R</span>EQUEST</p>
        </div>
        <!-- <div class="col">
            <img src="assets/Heartbeat.png" style="padding:0px; margin: 0px; width: 930px; height: 250px;">
        </div><br> -->
    </div>
  
  </div>
  <br>
  <pre></pre>
 
<div class="container">
   
    <form   #localForm="ngForm" [formGroup]="form">  
        <div class="mb-3" style="font-weight:bolder; margin: 13px; font-size: 20px;">
            Make sure that all information request is correct to avoid any problem
        </div>

        <pre></pre>

<label for="blood_type" style="margin-right: 7px;">Blood type:  </label>
        <select formControlName="blood_id">
            <option value="0">--Select--</option>  
            <option *ngFor="let b of blood" value={{b.blood_id}}>  
                {{b.blood_type}}  
            </option>  
        </select>
        <br>
<pre></pre>

<div class="">
    <input class="form-control" type="text" placeholder="Quantity"  formControlName="request_quantity">

</div>
<pre></pre>
<!-- <div  class="">
    <label  style="margin-right: 7px;">City:</label>
    <select class="drop" formControlName="city">
    <option value="6 October">  6 October</option>
    <option value="Dokki">      Dokki</option>
    <option value="New Cairo">  New Cairo</option>
    <option value="Nasr city">  Nasr city</option>
    <option value="Madinty">    Madinty</option>
    </select>
</div>
<pre></pre> -->
<!-- select hospital -->
<div  class="">
    <input class="form-control" type="text" placeholder="status"   formControlName="request_status">
</div>
<pre></pre>

<div  class="">
    <input class="form-control" type="text" placeholder="Case"   formControlName="request_case" >
</div>
<pre></pre>

<div  class="">
    <button class="btn btn-danger" type="submit" value="" style="margin: 10px;" (click)="addrequest()">Add</button>
</div>
<pre></pre>

</form>
</div>