<div class="container">
    
    <form [formGroup]="form">
        <div style="font-weight:bolder; margin: 13px; margin-left: 0px; font-size: 20px;">
        Make sure that all information is correct to avoid any problem
        </div>
        <label style="margin-right: 7px;"><b>ADD STOCK</b></label><br><br>
        
        <label for="blood_type" style="margin-right: 7px;">Blood type:  </label>
        <select formControlName="blood_type">
            <option value="0">--Select--</option>  
            <option *ngFor="let b of blood"  
                    value={{b.blood_id}}>  
                {{b.blood_type}}  
            </option>  
        </select>
        <br><br>

        <label for="blood_quantity" >Blood quantity:  </label>
        <input class="form-control" id="blood_quantity" type="text"  formControlName="blood_quantity">
        
        <br>
        <button class="btn btn-danger" type="submit" value="" style="margin: 10px;" (click)="addstock()" [routerLink]="['/hospital-stock/', this.id]">Add</button>
    </form>
    </div>