<div class="container">
        <div class="view-account">
            <section class="module">
                <div class="module-inner">
                    <div class="side-bar">
                        <div class="user-info">
                            <img class="img-profile img-circle img-responsive center-block "  src="" alt="">
                            
                            <ul class="meta list list-unstyled" *ngFor="let h of hospital">
                                <li class="name" style="font-size:18px ; margin-top: 16px;">{{h.hospital_name}}</li>
                            </ul>
                        </div>
                        <nav class="side-menu">
                            <ul class="nav" *ngFor="let h of hospital">
                                <li><a href="#" [routerLink]="['/hospital/', h.hospital_id]"><span class="bi bi-person-fill"></span> PROFILE</a></li>
                                <li><a href="#" [routerLink]="['/myrequest-hospital/', h.hospital_id]"><span class="bi bi-bag-heart-fill"></span> REQUESTS</a></li>
                                <li><a href="#"  [routerLink]="['/req-form-hospital/',id ]"><span class="bi bi-plus-lg"></span>ADD REQUEST</a></li>
                                <li><a href="#" [routerLink]="['/request-hospital/', h.hospital_id]"><span class="bi bi-table"></span> DONATE</a></li>
                                <li><a href="#" [routerLink]="['/hospital-stock/', h.hospital_id]"><span class="bi bi-cart-plus-fill"></span> MY STOCK</a></li>
        
                            </ul>
                        </nav>
                    </div>
                    <div class="content-panel">
                        <fieldset class="fieldset">
                            <div class="row ">
                        <div class="col " >
                            <h3>A D D &nbsp; S T O C K</h3><br>
                            <form [formGroup]="form">
                                
                                <div class="x">
                                Make sure that all information is correct to avoid any problem
                                </div>
                                <br>
                                
                                <label for="blood_type" style="margin-right: 7px;">Blood type:  </label>
                                <select formControlName="blood_type">
                                    <option value="0">--Select--</option>  
                                    <option *ngFor="let b of blood"  
                                            value={{b.blood_id}}>  
                                        {{b.blood_type}}  
                                    </option>  
                                </select>
                                <br>
                        
                                <div class="bqty">
                                <label for="blood_quantity"> </label> &nbsp;
                                <input class="form-control" placeholder="Blood quantity " id="blood_quantity" type="text"  formControlName="blood_quantity">
                                </div>
                        
                                <br>
                                <button class="btn btn-danger" type="submit" value="" style="margin: 10px;" (click)="addstock()" [routerLink]="['/hospital-stock/', this.id]">Add</button>
                            </form>
                        </div>
                        </div>
                        </fieldset>
                        <br>
                        <br>
                        <hr>
    
                        
                    </div>
                    
                  
    
                    