
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div class="" style="font-family: 'Roboto Slab', serif;">


    <div>
        <app-sign-navbar [hidden]="(isLoggedIn$  | async) || (isLoggedInHospital | async) || (isLoggedInOrg  | async) "></app-sign-navbar>
        <app-logged-in-bar *ngIf="isLoggedIn$ | async" ></app-logged-in-bar>
        <app-logged-in-bar-hospital  *ngIf="isLoggedInHospital | async"></app-logged-in-bar-hospital>
        <app-logged-in-bar-orgnization  *ngIf="isLoggedInOrg | async"></app-logged-in-bar-orgnization>
    </div>

<app-nav-bar ></app-nav-bar>

<router-outlet></router-outlet>
<app-footer></app-footer>
</div>