
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div class="" style="font-family: 'Roboto Slab', serif;">


    <div>
        
            <app-sign-navbar *ngIf="!_signupService.IsloggedInUser()"></app-sign-navbar> 
            <app-logged-in-bar *ngIf="_signupService.IsloggedInUser()"  ></app-logged-in-bar>
<!-- 
        <app-sign-in (displaynavbar)=displayFunc($event) hidden></app-sign-in>
        <app-sign-navbar *ngIf="display == false"></app-sign-navbar> 
        <app-logged-in-bar  (displaynavbar)=displayFunc($event) *ngIf="display == true" ></app-logged-in-bar> -->
    </div>

<app-nav-bar ></app-nav-bar>

<router-outlet></router-outlet>
<app-footer></app-footer>
</div>