<div class="body" >
    <div class="container">

    <h1 class="sign-up-label">SIGN UP</h1>  
   

    <div class="usertype-box">
    
        <label class="rad-label" ><input type="radio" name="filter" (input)="userDisplay()" class="rad-input"><p class="rad-text">User</p> </label><pre></pre>
        <label class="rad-label" ><input type="radio" name="filter" (input)="hospitalDisplay()" class="rad-input"><p class="rad-text">Hospital</p></label><pre></pre>
        <label class="rad-label" ><input type="radio" name="filter" (input)="orgnizationDisplay()" class="rad-input"><p class="rad-text">Orgnization</p></label>
        
    </div>

    <div class="row">

    <div class="col-sm-4">
    <div class="mt-4 p-2 h-100 w-100 text-black" style="background-color: whitesmoke;">
        <h1>FAQ:</h1>
        <p>Why do I need to sign up?
            By signing up you can access all you need for donation. you can find the nearst donation spot.
            incase you need donation you can pull up a request for donors to find you.</p>
    </div>
    </div>

    <div class="col-sm-8">
    <pre></pre>

        <!-- patient form -->
    <div class="card-body cardbody-color mp-10 p-lg-5">
        
        <form class="Patient"   [formGroup]="addUserForm" [hidden]="uDisplay">  
            
            <div>
                <h1>Register Your Account</h1>
                <p>Please enter the following information so we can match to your donation records.</p>
            </div>

            <div  class="mb-3">
                <input  placeholder="First Name" class="form-control"  formControlName="user_Fname" >
                <!-- <div *ngIf="fname.invalid && fname.touched  " class="warning"> required!!</div> -->
            </div>

            <pre></pre>
            <div  class="mb-3">
                
                <input type="text"  placeholder="Last name"class="form-control"  formControlName="user_Lname" >
                <!-- <p *ngIf="lname.invalid && lname.touched " class="warning"> required!!</p> -->
            </div>

            <pre></pre>
            <div  class="mb-3">
                
                <input type="text"  placeholder="SNN"  class="form-control"  formControlName="user_national_ID" >
                <!-- <p *ngIf="ssn.invalid && ssn.touched " class="warning"> required!!</p> -->
            </div>

            <pre></pre>
            <div style="display: inline;">
            <input type="radio" class="custom-control-input"  value="Male" formControlName="user_gender" >
            <label class="custom-control-label" >Male</label>
            <input  type="radio" class="custom-control-input"  value="Female"   formControlName="user_gender" >
            <label class="custom-control-label" >Female</label>
            <!-- <input type="text" class="custom-control-input" name="gender"  formControlName="gender" > -->
            </div>
        
            <pre></pre>
            <div  class="mb-3"> 
                
                <input type="text"   placeholder="Age"  class="form-control"   formControlName="user_age" > 
                <!-- <p *ngIf="age.invalid && age.touched " class="warning"> enter a vaild age!!</p> -->
            </div>

            <pre></pre>
            <div  class="mb-3">
                
                <input type="text" placeholder="Address"  class="form-control"  formControlName="user_address" >
            </div>

            <pre></pre>
            <div  class="mb-3"> 
            
                <input type="text" placeholder="PhoneNumber"  class="form-control"  formControlName="user_phoneNo" >
                <!-- <p *ngIf="phone.invalid && phone.touched " class="warning"> invalid!!</p> -->
            </div>
            <pre></pre>

            <div  class="mb-3">
                
                <input type="email" placeholder="Email" class="form-control"  formControlName="user_Email" >
            </div>
            <pre></pre>
            
            <div  >
                <label  style="margin-right: 7px;">City:</label>
                <select class="drop" formControlName="user_city">
                <option value="6 October">  6 October</option>
                <option value="Dokki">      Dokki</option>
                <option value="New Cairo">  New Cairo</option>
                <option value="Nasr city">  Nasr city</option>
                <option value="Madinty">    Madinty</option>
                </select>
            </div>
            <pre></pre>

            <label  >Blood type:</label>
            <div style="display: inline;" class="mb-3">
            <input class="custom-control-input" type="radio"  value="O+"  formControlName="user_blood_type" ><label class="user-bloodType">O+</label>
            <input class="custom-control-input" type="radio"  value="O-"  formControlName="user_blood_type" ><label class="user-bloodType">O-</label>
            <input class="custom-control-input" type="radio"  value="A+"  formControlName="user_blood_type" ><label class="user-bloodType">A+</label>
            <input class="custom-control-input" type="radio"  value="A-"  formControlName="user_blood_type" ><label class="user-bloodType">A-</label>
            <input class="custom-control-input" type="radio"  value="B+"  formControlName="user_blood_type" ><label class="user-bloodType">B+</label>
            <input class="custom-control-input" type="radio"  value="B-"  formControlName="user_blood_type" ><label class="user-bloodType">B-</label>
            <input class="custom-control-input" type="radio"  value="AB+" formControlName="user_blood_type" ><label class="user-bloodType">AB+</label>

        </div>
        
            <pre></pre>
            <div  class="mb-3"> 
            <input type="text" placeholder="health status"   class="form-control"  formControlName="user_health_status" >
            </div>
            <pre></pre>
            <div  class="mb-3"> 
            <input type="password"placeholder="Password"    class="form-control"  formControlName="user_password" >
                <!-- <p *ngIf="password.invalid && password.touched " class="warning"> invalid password!!</p> -->
            </div>
            <pre></pre>
            
            <button  class="btn btn-danger w-100" (click)="userSubmit()" >Sign up</button>
            <pre></pre>
        </form>

        <!-- hospital form -->
<form class="Hospital"    [formGroup]="addHospitalForm" [hidden]="hDisplay">  
    <div>
        <h1>Register Your Account</h1>
        <p>Please enter the following information so we can match to your donation records.</p>
    </div>

    <div  class="mb-3">
        <input  placeholder="Name" class="form-control"  formControlName="name" >
        <!-- <div *ngIf="fname.invalid && fname.touched  " class="warning"> required!!</div> -->
    </div>
    <pre></pre>

    <div  class="mb-3">
        
        <input type="text" placeholder="Address"  class="form-control"  formControlName="address" >
    </div>
    <pre></pre>

    <div  class="mb-3"> 
        <input type="text" placeholder="PhoneNumber"  class="form-control"  formControlName="phone" >
        <!-- <p *ngIf="phone.invalid && phone.touched " class="warning"> invalid!!</p> -->
    </div>
    <pre></pre>
    <div  class="mb-3">
        
        <input type="email" placeholder="Email" class="form-control"  formControlName="email" >
    </div>
    <pre></pre>
    
    <div  >
        <label  style="margin-right: 7px;">City:</label>
        <select class="drop" formControlName="city">
        <option value="6 October"   >6 October</option>
        <option value="Dokki" >Dokki</option>
        <option value="New Cairo"  >New Cairo</option>
        <option value="Nasr city" >Nasr city</option>
        <option value="Madinty"   >Madinty</option>
        </select>
        <!-- <input type="text" class="custom-control-input"  formControlName="city" > -->
    </div>
    <pre></pre>

    <div  class="mb-3"> 
    <input type="password"placeholder="Password"    class="form-control"  formControlName="password" >
        <!-- <p *ngIf="password.invalid && password.touched " class="warning"> invalid password!!</p> -->
    </div>
    <pre></pre>
    
    <button  class="btn btn-danger w-100" (click)="HospitalSubmit()" >Sign up</button>
    <pre></pre>
</form>

<!-- orgnization form -->
<form class="Orgnization"    [formGroup]="addOrgnizationForm" [hidden]="oDisplay">  
    <div>
        <h1>Register Your Account</h1>
        <p>Please enter the following information so we can match to your donation records.</p>
    </div>
    <div  class="mb-3">
        <input  placeholder="Name" class="form-control"  formControlName="name" >
        <!-- <div *ngIf="name.invalid && name.touched  " class="warning"> required!!</div> -->
    </div>
    <pre></pre>

    <div  class="mb-3">
        
        <input type="text" placeholder="Address"  class="form-control"  formControlName="address" >
    </div>
    <pre></pre>

    <div  class="mb-3"> 
    
        <input type="text" placeholder="PhoneNumber"  class="form-control"  formControlName="phone" >
        <!-- <p *ngIf="phone.invalid && phone.touched " class="warning"> invalid!!</p> -->
    </div>
    <pre></pre>
    <div  class="mb-3">
        
        <input type="email" placeholder="Email" class="form-control"  formControlName="email" >
    </div>
    <pre></pre>
    
    <div>
        <label  style="margin-right: 7px;">City:</label>
        <select class="drop" formControlName="city">
        <option value="6 October"   >6 October</option>
        <option value="Dokki" >Dokki</option>
        <option value="New Cairo"  >New Cairo</option>
        <option value="Nasr city" >Nasr city</option>
        <option value="Madinty"   >Madinty</option>
        </select>
        <!-- <input type="text" class="custom-control-input"  formControlName="city" > -->
    </div>

    <pre></pre>
    <div  class="mb-3"> 
    <input type="password"placeholder="Password"    class="form-control"  formControlName="password" >
        <!-- <p *ngIf="password.invalid && password.touched " class="warning"> invalid password!!</p> -->
    </div>
    <pre></pre>
    
    <button  class="btn btn-danger w-100" (click)=" OrgnizationSubmit()" >Sign up</button>
    <pre></pre>
</form>

        <!-- <form class="Hospital" #hospitalForm = "ngForm" (ngSubmit)="onHospitalCreate(hospitalForm.value)" [hidden]="hDisplay"> 
            <div> 
            <div>
                <h1>Register Your Account</h1>
                <p>Please enter the following information so we can match to your records.</p>
            </div>
            <div  class="form-group">
                <input  #hname="ngModel" required minlength="2" maxlength="15" type="text" name="hospitalName" placeholder="Hospital Name" class="form-control" ngModel>
                <div *ngIf="hname.invalid && hname.touched  " class="warning"> required!!</div>
            </div>
            <pre></pre>
            <div  class="form-group">
                
                <input type="text"  #addr="ngModel" required minlength="2" maxlength="15" placeholder="Address" name="address" class="form-control" ngModel>
                <div *ngIf="addr.invalid && addr.touched  " class="warning"> required!!</div>
            </div>
            <pre></pre>
    
            <div  class="form-group"> 
                
                <input type="number" #phone="ngModel" placeholder="phoneNumber" required minlength="11" maxlength="11" name="phone" class="form-control" ngModel>
                <p *ngIf="phone.invalid && phone.touched " class="warning"> invalid!!</p>
            </div>
            <pre></pre>
            <div  class="form-group">
                
                <input type="email" placeholder="Email" name="email" class="form-control" ngModel>
            </div>
            <pre></pre>
            <div  class="form-group">
                <label for="City" style="margin-right: 7px;">City:</label>
                <select class="drop" name="city" ngModel>
                <option value="6 October" ngModel>6 October</option>
                <option value="Dokki" ngModel>Dokki</option>
                <option value="New Cairo" ngModel>New Cairo</option>
                <option value="Nasr city" ngModel>Nasr city</option>
                <option value="Madinty" ngModel>Madinty</option>
                </select>
            </div>
            <pre></pre>
            
            <button type="submit" class="btn btn-danger w-100" (click)="onsignup()">Sign up</button>
    
            <pre></pre> 
        </div> 
        </form>
    
        <form class="Orgnization" #organizationForm = "ngForm" (ngSubmit)="onOrganizationCreate(organizationForm.value)" [hidden]="oDisplay"> 
            <div> 
            <div>
                <h1>Register Your Account</h1>
                <p>Please enter the following information so we can match to your donation records.</p>
            </div>
            <div  class="form-group">
                
                <input  #oname="ngModel" required minlength="2" maxlength="15" type="text" name="orgnizationName" placeholder="Organization Name" class="form-control" ngModel>
                <div *ngIf="oname.invalid && oname.touched  " class="warning"> required!!</div>
            </div>
            <pre></pre>
            <div  class="form-group">
                
                <input type="text"  #addr="ngModel" required minlength="2" maxlength="15" placeholder="Address" name="address" class="form-control" ngModel>
                <div *ngIf="addr.invalid && addr.touched  " class="warning"> required!!</div>
            </div>
            <pre></pre>
    
            <div  class="form-group"> 
               
                <input type="number" #phone="ngModel" placeholder="phoneNumber" required minlength="11" maxlength="11" name="phone" class="form-control" ngModel>
                <p *ngIf="phone.invalid && phone.touched " class="warning"> invalid!!</p>
            </div>
            <pre></pre>
            <div  class="form-group">
                <input type="email" placeholder="Email" name="email" class="form-control" ngModel>
            </div>
            <pre></pre>
            <div  class="form-group">
                <label for="City" style="margin-right: 7px;">City:</label>
                <select  class="drop" name="city" ngModel>
                <option value="6 October" ngModel>6 October</option>
                <option value="Dokki" ngModel>Dokki</option>
                <option value="New Cairo" ngModel>New Cairo</option>
                <option value="Nasr city" ngModel>Nasr city</option>
                <option value="Madinty" ngModel>Madinty</option>
                </select>
            </div> 
            <pre></pre>
            
            <button type="submit" class="btn btn-danger w-100" (click)="onsignup()">Sign up</button>
            <pre></pre> 
            </div> 
        </form>
    </div>
    
    </div>
    </div>
    <div class="form-text text-center mb-5 text-dark">Already have an account? <a href="#" routerLink="/sign-in" routerLinkActive="active" class="text-dark fw-bold">sign in</a></div>
    </div>
    </div> -->
