.warning{
  color: rgba(202, 0, 0, 0.623);
}
.body{
  text-align: center;
}
.sign-up-label{
  margin: 35px;
}
.rad-label {
  padding: 10px;
  align-items: center;
  border-radius: 100px;
  margin: 10px;
  cursor: pointer;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.rad-label:hover{
background: whitesmoke;
}

.rad-input{
  top: 0;
  width: 1px;
  height: 1px;
}
.usertype-box{
  display: flex;
  place-content: center;
  box-sizing: border-box;
}
.rad-text{
  width: 250px;
  padding-top: 5px;
}
.custom-control-input{
  margin: 7px;
}
.drop{
  width: 120px;
  height: 30px;
}
.form-control{
  background-color: whitesmoke;
}