<div class="body" >
    <div class="container">

    <h1 class="sign-up-label">SIGN UP</h1>  
   

    <div class="usertype-box">
    
        <label class="rad-label" ><input type="radio" name="filter" (input)="userDisplay()" class="rad-input"><p class="rad-text">User</p> </label><pre></pre>
        <label class="rad-label" ><input type="radio" name="filter" (input)="hospitalDisplay()" class="rad-input"><p class="rad-text">Hospital</p></label><pre></pre>
        <label class="rad-label" ><input type="radio" name="filter" (input)="orgnizationDisplay()" class="rad-input"><p class="rad-text">Orgnization</p></label>
        
    </div>

    <div class="row">

    <div class="col-sm-4">
    <div class="mt-4 p-2 h-100 w-100 text-black" style="background-color: whitesmoke;">
        <h1>FAQ:</h1>
        <p>Why do I need to sign up?
            By signing up you can access all you need for donation. you can find the nearst donation spot.
            incase you need donation you can pull up a request for donors to find you.</p>
    </div>
    </div>

    <div class="col-sm-8">
    <pre></pre>

        <!-- patient form -->
    <div class="card-body cardbody-color mp-10 p-lg-5">
        
        <form class="Patient" #localForm="ngForm"  [formGroup]="addUserForm" [hidden]="uDisplay">  
            
            <div>
                <h1>Register Your Account</h1>
                <p>Please enter the following information so we can match to your donation records.</p>
            </div>

            <div  class="mb-3">
                <input placeholder="First Name" class="form-control" [minlength]="3" [maxlength]="20" formControlName="user_Fname" [class.is-invalid]="localForm.submitted && addUserForm.get('user_Fname')?.invalid">
                <div class="invalid-feedback">
                    First name is required
                </div>
            </div>

            <pre></pre>
            <div  class="mb-3">
                
                <input type="text"  placeholder="Last name"class="form-control" [minlength]="3" [maxlength]="20" formControlName="user_Lname" [class.is-invalid]="localForm.submitted && addUserForm.get('user_Lname')?.invalid" >
                <div class="invalid-feedback">
                    Last name is required
                </div>
            </div>

            <pre></pre>
            <div  class="mb-3">
                <!-- [class.is-invalid]="localForm.submitted && addUserForm.get('user_national_ID')?.invalid" -->
                <input type="text"  placeholder="SNN"  class="form-control" [minlength]="14" [maxlength]="14" formControlName="user_national_ID" >
                <div class="warning" *ngIf="user_national_ID && (user_national_ID.invalid && (user_national_ID.dirty || user_national_ID.touched))">
                    <div *ngIf="user_national_ID.errors?.['required']">SSN is required.</div>
                    <div *ngIf="user_national_ID.errors?.['minlength'] || user_national_ID.errors?.['maxlength']">SSN must be 14 numbers.</div>
                    <div *ngIf="user_national_ID.errors?.['pattern']">SSN must contain only numbers.</div>
                </div>
            </div>

            <pre></pre>
            <div style="display: inline;">
            <input type="radio" class="custom-control-input"  value="0" formControlName="user_gender" >
            <label class="custom-control-label" >Male</label>
            <input  type="radio" class="custom-control-input"  value="1"   formControlName="user_gender" >
            <label class="custom-control-label" >Female</label>
            <!-- <input type="text" class="custom-control-input" name="gender"  formControlName="gender" > -->
            </div>
        
            <pre></pre>
            <div  class="mb-3"> 
                <!--  min="18" max="60" -->
                <input type="text"   placeholder="Age" required  class="form-control" [minlength]="1" [maxlength]="2" formControlName="user_age" > 
                
                <div class="warning" *ngIf="user_age && (user_age.invalid && (user_age.dirty || user_age.touched))">
                    <div *ngIf="user_age.errors?.['required']">Age is required.</div>
                    <div *ngIf="user_age.errors?.['min'] || user_age.errors?.['max']">Age must be between 18 and 60.</div>
                    <div *ngIf="user_age.errors?.['pattern']">Age must contain only numbers.</div>
                  </div>
            </div>

            <pre></pre>
            <div  class="mb-3">
                
                <input type="text" placeholder="Address"  class="form-control" [minlength]="3" [maxlength]="50"  formControlName="user_address" [class.is-invalid]="localForm.submitted && addUserForm.get('user_address')?.invalid">
                <div class="invalid-feedback">
                    Address is required
                </div>
            </div>

            <pre></pre>
            <div  class="mb-3"> 
            
                <input type="text" placeholder="PhoneNumber" required class="form-control" [minlength]="11" [maxlength]="11" formControlName="user_phoneNo"  [class.is-invalid]="localForm.submitted && addUserForm.get('user_phoneNo')?.invalid">
                <div class="invalid-feedback">
                    phone number is required (11 numbers)
                </div>
            </div>
            <pre></pre>

            <div  class="mb-3">
                
                <input type="email" placeholder="Email" required class="form-control"   formControlName="user_Email" [class.is-invalid]="localForm.submitted && addUserForm.get('user_Email')?.invalid">
                <div class="invalid-feedback">
                    Email is required
                </div>
            </div>
            <pre></pre>
            
            <div  >
                <label  style="margin-right: 7px;">City:</label>
                <select formControlName="city">
                    <option value="0">--Select--</option>  
                    <option *ngFor="let c of cityForUser"  
                            value={{c.location_code}}>  
                        {{c.city}}  
                    </option>  
                </select>
            
            </div>
            <pre></pre>

            <label  >Blood type:</label>
            <div style="display: inline;" class="mb-3">
            <input class="custom-control-input" type="radio"  value="O+"  formControlName="user_blood_type" ><label class="user-bloodType">O+</label>
            <input class="custom-control-input" type="radio"  value="O-"  formControlName="user_blood_type" ><label class="user-bloodType">O-</label>
            <input class="custom-control-input" type="radio"  value="A+"  formControlName="user_blood_type" ><label class="user-bloodType">A+</label>
            <input class="custom-control-input" type="radio"  value="A-"  formControlName="user_blood_type" ><label class="user-bloodType">A-</label>
            <input class="custom-control-input" type="radio"  value="B+"  formControlName="user_blood_type" ><label class="user-bloodType">B+</label>
            <input class="custom-control-input" type="radio"  value="B-"  formControlName="user_blood_type" ><label class="user-bloodType">B-</label>
            <input class="custom-control-input" type="radio"  value="AB+" formControlName="user_blood_type" ><label class="user-bloodType">AB+</label>

        </div>
        
            <pre></pre>
            <div  class="mb-3"> 
                <textarea type="text" placeholder="health status" [maxlength]="100" class="form-control"  formControlName="user_health_status">
                </textarea>
            </div>
            <pre></pre>
            <div  class="mb-3"> 
                
            <input type="password" placeholder="Password" class="form-control"  formControlName="user_password">
                
            <div class="warning" *ngIf="user_password && (user_password.invalid && (user_password.dirty || user_password.touched))">
                <div *ngIf="user_password.errors?.['required']">Password is required.</div></div>
                <div class="warning" *ngIf="user_password.errors?.['pattern']">Password must contain at least 8 characters in length, but no more than 32, at least one capital letter, one number, and one special character.</div>
            
            </div>
            <pre></pre>
            
            <button  class="btn btn-danger w-100" (click)="userSubmit()">Sign up</button>
            <pre></pre>
        </form>

        <!-- hospital form -->
<form class="Hospital"  #HlocalForm="ngForm" [formGroup]="addHospitalForm" [hidden]="hDisplay">  
    <div>
        <h1>Register Your Account</h1>
        <p>Please enter the following information so we can match to your donation records.</p>
    </div>

    <div  class="mb-3">
        <input  placeholder="Name" class="form-control" required formControlName="hospital_name" [minLength]="8" [maxlength]="20" [class.is-invalid]="HlocalForm.submitted && addHospitalForm.get('hospital_name')?.invalid">
        <div class="invalid-feedback">
            Hospital name is required
        </div>
    </div>
    <pre></pre>

    <div  class="mb-3">
        
        <input type="text" placeholder="Address"  class="form-control"  formControlName="hospital_address"  [minLength]="10" [maxlength]="50" [class.is-invalid]="HlocalForm.submitted && addHospitalForm.get('hospital_address')?.invalid">
        <div class="invalid-feedback">
            Hospital address is required
        </div>
    </div>
    <pre></pre>

    <div  class="mb-3"> 
        <input type="text" placeholder="PhoneNumber" required class="form-control"  formControlName="hospital_phoneNo"  [minLength]="5" [maxlength]="11" [class.is-invalid]="HlocalForm.submitted && addHospitalForm.get('hospital_phoneNo')?.invalid">
        <div class="invalid-feedback">
            Hospital phone number is required
        </div>
    </div>
    <pre></pre>
    <div  class="mb-3">
        
        <input type="email" placeholder="Email" class="form-control"  formControlName="hospital_Email"  [minLength]="11"  [class.is-invalid]="HlocalForm.submitted && addHospitalForm.get('hospital_Email')?.invalid">
        <div class="invalid-feedback">
            Hospital email is required
        </div>
    </div>
    <pre></pre>
    
    <div  >
        <label  style="margin-right: 7px;">City:</label>
        <select formControlName="city">
            <option value="0">--Select--</option>  
            <option *ngFor="let c of cityForHospital"  
                    value={{c.location_code}}>  
                {{c.city}}  
            </option>  
        </select>
        <!-- <select class="drop" formControlName="hospital_city">
        <option value="6 October"   >6 October</option>
        <option value="Dokki" >Dokki</option>
        <option value="New Cairo"  >New Cairo</option>
        <option value="Nasr city" >Nasr city</option>
        <option value="Madinty"   >Madinty</option>
        </select> -->
        <!-- <input type="text" class="custom-control-input"  formControlName="city" > -->
    </div>
    <pre></pre>

    <div  class="mb-3"> 
    <input type="password" placeholder="Password"  class="form-control" formControlName="hospital_password">
        
    <div class="warning" *ngIf="hospital_password && (hospital_password.invalid && (hospital_password.dirty || hospital_password.touched))">
        <div *ngIf="hospital_password.errors?.['required']">Password is required.</div>
        <div class="warning" *ngIf="hospital_password.errors?.['pattern']">Password must contain at least 8 characters in length, but no more than 32, at least one capital letter, one number, and one special character.</div>
    </div>
    </div>

    
    <pre></pre>
    
    <button  class="btn btn-danger w-100" (click)="HospitalSubmit()">Sign up</button>
    <pre></pre>
</form>

<!-- orgnization form -->
<form class="Orgnization"  #OlocalForm="ngForm" [formGroup]="addOrgnizationForm" [hidden]="oDisplay">  
    <div>
        <h1>Register Your Account</h1>
        <p>Please enter the following information so we can match to your donation records.</p>
    </div>
    <div  class="mb-3">
        <input  placeholder="Name" class="form-control"  formControlName="organization_name" [minLength]="8" [maxlength]="30" [class.is-invalid]="OlocalForm.submitted && addOrgnizationForm.get('organization_name')?.invalid">
        <div class="invalid-feedback">
            Organization name is required
        </div>
    </div>
    <pre></pre>

    <div  class="mb-3"> 
    
        <input type="text" placeholder="PhoneNumber" required class="form-control"  formControlName="organization_phoneNo" [minLength]="4" [maxlength]="11" [class.is-invalid]="OlocalForm.submitted && addOrgnizationForm.get('organization_phoneNo')?.invalid">
        <div class="invalid-feedback">
            Organization phone number is required
        </div>
    </div>
    <pre></pre>
    <div  class="mb-3">
        
        <input type="email" placeholder="Email" class="form-control"  formControlName="organization_email" [minLength]="11" [maxlength]="30" [class.is-invalid]="OlocalForm.submitted && addOrgnizationForm.get('organization_email')?.invalid">
        <div class="invalid-feedback">
            Organization email is required
        </div>
    </div>
    <pre></pre>
    
    <div>
        <label  style="margin-right: 7px;">City:</label>
        <select formControlName="orgaization_city">
            <option value="0">--Select--</option>  
            <option *ngFor="let c of cityForOrg"  
                    value={{c.location_code}}>  
                {{c.city}}  
            </option>  
        </select>
    
    </div>

    <pre></pre>
    <div  class="mb-3"> 
    
        <input type="text" placeholder="Address" required class="form-control"  formControlName="organization_address" [class.is-invalid]="OlocalForm.submitted && addOrgnizationForm.get('organization_address')?.invalid">
        <div class="invalid-feedback">
            Organization address is required
        </div>
    </div>

    <pre></pre>
    <div  class="mb-3"> 

    <input type="password" placeholder="Password" class="form-control" formControlName="organization_password">
    
    <div class="warning" *ngIf="organization_password && (organization_password.invalid && (organization_password.dirty || organization_password.touched))">
        <div *ngIf="organization_password.errors?.['required']">Password is required.</div>
        <div class="warning" *ngIf="organization_password.errors?.['pattern']">Password must contain at least 8 characters in length, but no more than 32, at least one capital letter, one number, and one special character.</div>
        </div>

    </div>
    <pre></pre>
    
    <button  class="btn btn-danger w-100" (click)="OrgnizationSubmit()">Sign up</button>
    <pre></pre>
</form>
