<div class="body" >
  <div class="container  ">
  <div class="row ">
  <div class="col-md-6 offset-md-3">
    <h1 class="sign-up-label">Sign up</h1>
  <div class="usertype-box">
  
        <label class="rad-label" ><input type="radio" name="filter" (input)="userDisplay()" class="rad-input"><p class="rad-text">Patient</p> </label><pre></pre>
        <label class="rad-label" ><input type="radio" name="filter" (input)="hospitalDisplay()" class="rad-input"><p class="rad-text">Hospital</p></label><pre></pre>
        <label class="rad-label" ><input type="radio" name="filter" (input)="orgnizationDisplay()" class="rad-input"><p class="rad-text">Orgnization</p></label>
        
    </div>

  <div class="row">

  <div class="col-sm-4">
    <div class="mt-4 p-2 h-100 w-100 text-black" style="background-color: rgb(204, 199, 199);">
        <h1>FAQ:</h1>
        <p>Why do I need to sign up?
            By signing up you can access all you need for donation. you can find the nearst donation spot.
             incase you need donation you can pull up a request for donors to find you.</p>
    </div>
  </div>
  <pre></pre>
  <!-- explain the submit -->
<!--   
  <div class="card-body cardbody-color mp-10 p-lg-5">
  
      <form class="Patient" #signup='ngForm'(ngSubmit)="userSubmit(signup)" [hidden]="uDisplay">  -->
          <!-- <div class="card my-5"> -->
          <div  class="mb-3">
              <input  #fname="ngModel" required minlength="2" maxlength="15" type="text" name="first-name" placeholder="First Name" class="form-control" ngModel>
              <div *ngIf="fname.invalid && fname.touched  " class="warning"> required!!</div>
          </div>
          <pre></pre>
  
          <div  class="mb-3">
              
              <input type="text" #lname="ngModel" required minlength="2" maxlength="15" placeholder="Last Name" name="last-name" class="form-control" ngModel>
              <p *ngIf="lname.invalid && lname.touched " class="warning"> required!!</p>
          </div>
          <pre></pre> -->
<!--   
          <div  class="mb-3">
              
              <input type="text" #ssn="ngModel" placeholder="SNN" required minlength="9" maxlength="14" name="snn" class="form-control" ngModel>
              <p *ngIf="ssn.invalid && ssn.touched " class="warning"> required!!</p>
          </div>
          <pre></pre>
          <div style="display: inline;">
            <input id="male" type="radio" class="custom-control-input" value="male" name="gender" ngModel>
            <label class="custom-control-label" for="male">Male</label>

            <input id="female" type="radio" class="custom-control-input" value="female" name="gender" ngModel>
            <label class="custom-control-label" for="female">Female</label>
        </div>
        
          <pre></pre>
          <div  class="mb-3"> -->
              
              <!-- /the value must be bet 18 &60/ -->
              <!-- <input type="number" #age="ngModel" required length="2" placeholder="Age" name="age" class="form-control" value="age" ngModel> 
              <p *ngIf="age.invalid && age.touched " class="warning"> enter a vaild age!!</p>
          </div>
          <pre></pre>
  
          <div  class="mb-3">
              
              <input type="text" placeholder="Address" name="address" class="form-control" ngModel>
          </div>
          <pre></pre>
  
          <div  class="mb-3"> -->
          
              <!-- why validation is not working -->
              <!-- <input type="number" #phone="ngModel" placeholder="phoneNumber" required minlength="11" maxlength="11" name="phone" class="form-control" ngModel>
              <p *ngIf="phone.invalid && phone.touched " class="warning"> invalid!!</p>
          </div>
          <pre></pre>
          <div  class="mb-3">
              
              <input type="email" placeholder="Email" name="email" class="form-control" ngModel>
          </div>
          <pre></pre>
          <div  class="mb-3">
              <label for="City">City</label><br>
              <select  >
              <option value="">6 October</option>
              <option value="">Dokki</option>
              <option value="">New Cairo</option>
              <option value="">Nasr city</option>
              <option value="">Madinty</option>
              </select>
          </div>
          <pre></pre>
          <div  class="mb-3">
              <label for="bloodType">Blood type</label><br>
              <label class="user-bloodType"><input type="radio" name="blodType" ngModel >O+</label>
              <label class="user-bloodType"><input type="radio" name="blodType" ngModel > O-</label>
              <label class="user-bloodType"><input type="radio" name="blodType" ngModel> A+</label>
              <label class="user-bloodType"><input type="radio" name="blodType" ngModel>A-</label>
              <label class="user-bloodType"><input type="radio" name="blodType" ngModel>B+</label>
              <label class="user-bloodType"><input type="radio" name="blodType" ngModel>B-</label>
              <label class="user-bloodType"><input type="radio" name="blodType" ngModel>AB+</label>
          </div>
        
          <pre></pre>
          <div  class="mb-3"> -->
              <!-- <input type="text" placeholder="health status" name="health-status" class="form-control" ngModel>
          </div>
          <pre></pre>
          <div  class="mb-3"> -->
              <!-- check validity -->
              <!-- <input type="password" #password="ngModel" placeholder="Password" required minlength="8"  class="form-control" ngModel>
              <p *ngIf="password.invalid && password.touched " class="warning"> invalid password!!</p>
          </div>
          <pre></pre>
          
          <button type="submit" class="btn btn-danger w-100">Sign up</button>
          
          <pre></pre> -->
      <!-- </div> -->
      <!-- </form>
  
      <form class="Hospital" #signup='ngForm'(ngSubmit)="userSubmit(signup)" [hidden]="hDisplay"> -->
          <!-- <div class="card my-5"> -->
          <div  class="form-group">
              <input  #hname="ngModel" required minlength="2" maxlength="15" type="text" name="Hospital-Name" placeholder="Hospital Name" class="form-control" ngModel>
              <div *ngIf="hname.invalid && hname.touched  " class="warning"> required!!</div>
          </div>
          <pre></pre>
          <div  class="form-group">
              
              <input type="text"  #addr="ngModel" required minlength="2" maxlength="15" placeholder="Address" name="address" class="form-control" ngModel>
              <div *ngIf="addr.invalid && addr.touched  " class="warning"> required!!</div>
          </div>
          <pre></pre>
  
          <div  class="form-group"> -->
              
              <!-- why validation is not working -->
              <!-- <input type="number" #phone="ngModel" placeholder="phoneNumber" required minlength="11" maxlength="11" name="phone" class="form-control" ngModel>
              <p *ngIf="phone.invalid && phone.touched " class="warning"> invalid!!</p>
          </div>
          <pre></pre>
          <div  class="form-group">
              
              <input type="email" placeholder="Email" name="email" class="form-control" ngModel>
          </div>
          <pre></pre>
          <div  class="form-group">
              <label for="City">City</label><br>
              <select  >
              <option value="">6 October</option>
              <option value="">Dokki</option>
              <option value="">New Cairo</option>
              <option value="">Nasr city</option>
              <option value="">Madinty</option>
              </select>
          </div>
          <pre></pre>
          
          <button type="submit" class="btn btn-danger w-100">Sign up</button>
  
          <pre></pre> -->
      <!-- </div> -->
      </form>
      <pre></pre>
  
      <form class="Orgnization" #signup='ngForm'(ngSubmit)="userSubmit(signup)" [hidden]="oDisplay"> -->
          <!-- <div class="card my-5"> -->
          <div  class="form-group">
              
              <input  #oname="ngModel" required minlength="2" maxlength="15" type="text" name="Orgnization-Name" placeholder="Organization Name" class="form-control" ngModel>
              <div *ngIf="oname.invalid && oname.touched  " class="warning"> required!!</div>
          </div>
          <pre></pre>
          <div  class="form-group">
              
              <input type="text"  #addr="ngModel" required minlength="2" maxlength="15" placeholder="Address" name="address" class="form-control" ngModel>
              <div *ngIf="addr.invalid && addr.touched  " class="warning"> required!!</div>
          </div>
          <pre></pre>
  
          <div  class="form-group"> -->
              
              <!-- why validation is not working -->
              <!-- <input type="number" #phone="ngModel" placeholder="phoneNumber" required minlength="11" maxlength="11" name="phone" class="form-control" ngModel>
              <p *ngIf="phone.invalid && phone.touched " class="warning"> invalid!!</p>
          </div>
          <pre></pre>
          <div  class="form-group">
              <input type="email" placeholder="Email" name="email" class="form-control" ngModel>
          </div>
          <pre></pre>
          <div  class="form-group">
              <label for="City">City</label><br>
              <select  >
              <option value="">6 October</option>
              <option value="">Dokki</option>
              <option value="">New Cairo</option>
              <option value="">Nasr city</option>
              <option value="">Madinty</option>
              </select>
          </div> -->
          <!-- <pre></pre>
          
          <button type="submit" class="btn btn-danger w-100">Sign up</button>
          <pre></pre> -->
          <!-- </div> -->
      <!-- </form>
  </div>
  
  </div>
  </div>
  <div class="form-text text-center mb-5 text-dark">Already have an account? <a href="#" routerLink="/sign-in" routerLinkActive="active" class="text-dark fw-bold">sign in</a></div>
  </div>
  </div> -->




<!-- <!DOCTYPE html>
<body>
  <div class="box">
    <h2>SIGN UP</h2><br>
    
      <label class="rad-label">
        <input type="radio" class="rad-input" name="rad" (input)="user()">
        <div class="rad-design"></div>
        <div class="rad-text">User (Donor/patient)</div>
      </label>
    
      <label class="rad-label">
        <input type="radio" class="rad-input" name="rad" (input)="hospital()">
        <div class="rad-design"></div>
        <div class="rad-text">Hospital</div>
      </label>
    
      <label class="rad-label">
        <input type="radio" class="rad-input" name="rad" (input)="organization()">
        <div class="rad-design"></div>
        <div class="rad-text">Organization</div>
      </label>
      <br>
  </div>

    <div class="box1">
      <div [hidden]="userDisplay">
      <form class="form-cont" (ngSubmit)="submit()">
          <fieldset>
              <legend>User</legend>
              <label for="user-fname">Enter First Name: </label><input type="text" id="user-fname" placeholder="First name" required="" ><br>
              <label for="user-lname">Enter Last Name: </label><input type="text" id="user-lname" placeholder="Last name" required=""><br>
              <label for="user-ssn">Enter your SSN: </label><input type="number" id="user-ssn" placeholder="SSN" required="" ><br>
              <label for="user-email">Enter your Email: </label><input type="email" id="user-email" placeholder="Email" required=""><br>
              <label for="user-password">Enter password: </label><input type="password" id="user-password" placeholder="Password" required="" ><br>
              <label for="user-mobile">Enter Mobile Number: </label><input type="number" id="user-mobile" placeholder="Mobile Number" required=""><br>
              <label for="user-gender">Enter your gender: </label><input type="radio" id="user-gender" required=""><span>Female</span>
              <input type="radio" id="user-gender" required="" ><span>Male</span>
              <label for="user-age">Enter your age: </label><input type="date" id="user-age"  required=""><br>
              <label for="user-city">Enter your city: </label><input type="text" id="user-city" placeholder="City" required="" ><br>
              <label for="bloodtype">Enter your blood type: </label><select id="bloodtype" aria-placeholder="Blood Type" required="" >
                  <option value="O-">O-</option>
                  <option value="O+">O+</option>
                  <option value="B-">B-</option>
                  <option value="B+">B+</option>
                  <option value="A-">A-</option>
                  <option value="A+">A+</option>
                  <option value="AB-">AB-</option>
                  <option value="AB+">AB+</option>
              </select><br>
              <label for="user-health">Enter your health status: </label><input type="text" name="user-health" placeholder="Health Status" required="">
              <button class="btn btn-danger" type="submit">Submit</button>
          </fieldset>
          
      </form>
      </div>

      <div [hidden]="hospitalDisplay">
      <form class="form-cont">
          <fieldset>
              <legend>Hospital</legend>
              <label for="hos-name">Enter Hospital's Name: </label><input type="text" name="hos-name" placeholder="Name" required="" ><br>
              <label for="hos-email">Enter Email: </label><input type="email" name="hos-email" placeholder="Email" required="" ><br>
              <label for="hos-password">Enter password: </label><input type="password" name="hos-password" placeholder="Password" required="" ><br>
              <label for="hos-phone">Enter phone number: </label><input type="number" name="hos-phone" placeholder="Phone Number" required="" ><br>
              <label for="hos-address">Enter Hospital's addres: </label><input type="text" name="hos-address"  placeholder="Address" required="" ><br>
              <label for="hos-city">Enter City: </label><input type="text" name="hos-city" placeholder="City" required="" >
              <button class="btn btn-danger" type="submit">Submit</button>
          </fieldset>
      </form>
      </div>

      <div [hidden]="orgDisplay">
      <form class="form-cont" >
          <fieldset>
              <legend>Organization</legend>
              <label for="org-name">Enter Organization's Name: </label><input type="text" name="org-name" placeholder="Name" required=""  ><br>
              <label for="org-email">Enter Email: </label><input type="email" name="org-email" placeholder="Email" required="" ><br>
              <label for="org-password">Enter password: </label><input type="password" name="org-password" placeholder="Password" required="" ><br>
              <label for="org-phone">Enter Phone number: </label><input type="number" name="org-phone" placeholder="Phone Number" required="" >
              <button class="btn btn-danger" type="submit">Submit</button>
          </fieldset>
      </form>
      </div>

    </div>
    <div class="form-text text-center mb-5 text-dark">Already have an account? <a href="#" routerLink="/sign-in" routerLinkActive="active" class="text-dark fw-bold">sign in</a></div>
    
    
</body> -->
