<div class="navbar navbar-default" style="background-color:whitesmoke; margin:1px; margin-top:0px ; padding: 30px; padding-right:25px;">

    <div class="navbar-brand">
        <img src="" style="margin-left:10px; height: 30px; width: 40px;">
    </div>
<!-- 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button> -->
    <!-- class="collapse navbar-collapse" id="collapsibleNavbar"     navbar-expand-md -->
    <div class="justify-content-end" >
        
        <a href="#" routerLink="/home" routerLinkActive="active" class="navlink">Home</a>
        <a href="#" routerLink="/donate" routerLinkActive="active" class="navlink">Donate</a>
        <a href="#" routerLink="/blood-drives" routerLinkActive="active" class="navlink">Blood drives</a>
        <a href="#" routerLink="/learn" routerLinkActive="active" class="navlink">Learn</a>
        <!-- <a href="#" routerLink="/request" routerLinkActive="active" class="navlink" >Request</a> -->
        <a href="#" routerLink="/contact-us" routerLinkActive="active" class="navlink">Contact Us</a>
        <a href="#" routerLink="/about-us" routerLinkActive="active" class="navlink">About us</a>
        <button (click)="clickSearch()" class="btn btn-danger" style="margin-right: 8px; margin-left: 4px;" >Search</button>

    </div>
</div>

<app-search [display]= "displaySearch" class="navbar-brand" ></app-search>
