<div class="container">
    <h5>BLOOD DONATING</h5>
<ul class="">
<a href="#" routerLink="/learn-banks" routerLinkActive="active">
    <li>Blood bank</li>
</a>
<a href="#" routerLink="/learn-donation" routerLinkActive="active">
    <li>Blood donor basics</li>
</a>
<a href="#" routerLink="/donor-rewards" routerLinkActive="active">
    <li>Donor rewards</li>
</a>
<a href="#" routerLink="/learn-blood" routerLinkActive="active">
    <li>All about blood</li>
</a>
<a href="#" routerLink="/location" routerLinkActive="active">
    <li>Locations</li>
</a>
<a href="#" routerLink="/donate-now" routerLinkActive="active">
    <li>Donate now</li>
</a>
</ul>
</div>