<div class="body">
    <div class="header">
        <p style="color: whitesmoke; font-size: 60px;">LEARN ABOUT <span style="color: #d9534f;">BLOOD</span> DONATION</p>
    </div>
    <br><br>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>STEPS TO GIVING BLOOD</h2><br>
                <iframe width="640" height="375" src="https://www.youtube.com/embed/lFBE_Oqv20I" 
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
                clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                allowfullscreen></iframe>

            </div>

            <div class="col-md-4">

            </div>
        </div>
        
    </div>
</div>