.header{
  background-color: black;
  height: 200px;
  width: 100%;
  padding: 50px 20px 30px 60px;
  text-shadow: 4px 6px rgba(110, 110, 110, 0.555); 
  color: aliceblue;
}
  .nav{
    background-color: whitesmoke;
    width: 320px;
  }

  .nav-item:hover{
    background-color: #d9534f;
    color: white;
  }
  .nav-link{
    color: black;
  }
  .nav-item{
    border-bottom: 2px solid grey;
    width: 320px;
  }