.header{
    background-color: rgb(17, 17, 58);
    height: 250px;
    width: 100%;
    padding: 50px 20px 30px 60px;
  }

  .nav{
    background-color: whitesmoke;
  }

  .nav-item:hover{
    background-color: #d9534f;
    color: white;
  }
  .nav-link{
    color: black;
  }