<div class="body">
    <div class="header">
        <p style="color: whitesmoke; font-size: 60px;">LEARN ABOUT <span style="color: #d9534f;">BLOOD</span> DONATION</p>
    </div>
    <br><br>

    <div class="container">
        <h1 style="text-align: center;">BLOOD DONOR BASICS</h1><br>

            <div style="float: left; width: 900px;">
                <h2>General Guidelines for Blood Donation</h2>
                <ol style="font-size:large; ">
                    <li>be at least 18 years old and not above 60 years old.</li>
                    <li>your weight must be more than 50 kilograms.</li>
                    <li>your last donation must be before 3 months for men and before 4 months for women.</li>
                    <li>females must have a minimum hemoglobin level of 12.5g/dL and males must have a minimum level of 13.0g/dL. A donor's hemoglobin level cannot be higher than 20.0g/dL to donate.</li>
                    <li>Blood donor should have a blood pressure measurement of below 180 systolic (top number) and below 100 diastolic (bottom number) at the time of donation.</li>
                    <li>The donor should be free from chronic diseases.</li>
                    <li>The donor should not work hard until an hour has passed since the donation.</li>
                    <li>At least 6 months have passed for any surgery.</li>
                    <li>The temperature should not exceed 37 degrees Celsius.</li>
                </ol>
                <br><br>
                <h2>Steps to giving blood</h2>
                <ol style="font-size:large; ">
                    <li>The stage of registration and filling the donation form.</li>
                    <li>The stage of medical interview.</li>
                    <li>Clinical examination by determining weight, measuring blood pressure, temperature, pulse, and hemoglobin.</li>
                    <li>blood draw stage.</li>
                    <li>Care stage after donation and education.</li>
                </ol>
                <br>
                <iframe width="640" height="375" src="https://www.youtube.com/embed/lFBE_Oqv20I" 
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
                clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                allowfullscreen></iframe>
                <br><br>
                <h4>Get eight hours of sleep and eat a hearty (eggs, meat, leafy greens, fruit) evening and morning meal. To help stabilize your blood pressure, drink lots of water (and minimize caffeine). Your body will lose about two cups of fluid during donation, so being fully hydrated is important. </h4>
                <br><br>
                <h2>Amount of blood donated</h2>
                <p style="font-size:large; ">An adult in good health can donate about (450-500 ml) of his blood without any concerns or risks to his health, and he can donate every two months, so that the number of donations does not exceed 5 times a year.</p>
                <br><br>
                <h2>Benefits of donating blood</h2>
                <ol style="font-size:large; ">
                    <li>Increased bone marrow activity to produce new blood cells (red blood cells, white blood cells and platelets).</li>
                    <li>Increased blood circulation activity.</li>
                    <li>Donating blood helps to reduce the level of iron in the blood because it is considered one of the causes of heart disease and clogged arteries.</li>
                    <li>Studies have shown that those who donate their blood at least once a year are less likely to suffer from circulatory diseases and leukemia.</li>
                </ol>
                <br>
        </div>
        
        <app-donate-side-nav style="float: right;"></app-donate-side-nav> 
    </div>
</div>