<div class="container">
  <div class="view-account">
      <section class="module">
          <div class="module-inner">
              <div class="side-bar">
                  <div class="user-info">
                      <img class="img-profile img-circle img-responsive center-block "  src="" alt="">
                      
                      <ul class="meta list list-unstyled" *ngFor="let u of user" >
                        <li class="name" style="font-size:18px ; margin-top: 16px;"><b>{{u.user_Fname}} {{u.user_Lname}}</b></li>
                       
                    </ul>
                  </div>
              <nav class="side-menu">
                <ul class="nav"  *ngFor="let u of user">
        					<li><a href="#" [routerLink]="['/user/', u.user_id]"><span class="bi bi-person-fill"></span> PROFILE</a></li>
        					<li><a href="#" [routerLink]="['/myrequest-user/', u.user_id]"><span class="bi bi-bag-heart-fill"></span> MY REQUEST</a></li>
                  <li ><a href="#"   [routerLink]="['/req-form/',u.user_id]"><span class="bi bi-plus-lg"></span> ADD REQUEST</a></li>
        					<li class="active"><a href="#" [routerLink]="['/my-donations-user/', id]"><span class="bi bi-droplet-fill"></span> MY DONATIONS</a></li>
        					<li><a href="#" [routerLink]="['/request/', u.user_id]"><span class="bi bi-table"></span> DONATE</a></li>        
        				</ul>
            </nav>
              </div>
              <div class="content-panel">
                  <fieldset class="fieldset">
                      <div class="row ">
                  <div class="col ">
  <table class="table table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">  </th>
      <th scope="col">Date</th>
      <th scope="col">Place</th>
      <th scope="col">response status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let n of info; index as i">
      <td scope="row">  </td>
      <td scope="row">{{n.res_date}}</td>
      <td scope="row">{{n.hospital_name}}</td>
      <td scope="row">{{n.response_status}}</td>
      
    </tr>
   
  </tbody>
</table>
                    
                  </div>
                  </div>
                  </fieldset><br>
                  <hr>
              </div>
              
            

              
    