<div class="container">
  <div class="view-account">
      <section class="module">
          <div class="module-inner">
              <div class="side-bar">
                  <div class="user-info">
                      <img class="img-profile img-circle img-responsive center-block "  src="" alt="">
                      
                      <ul class="meta list list-unstyled"  >
                        <li class="name" style="font-size:18px ; margin-top: 16px;"><b>{{userFname}} {{userLname}}</b></li>
                       
                    </ul>
                  </div>
              <nav class="side-menu">
                <ul class="nav"  >
        					<li><a href="#" [routerLink]="['/user/', id]"><span class="bi bi-person-fill"></span> PROFILE</a></li>
        					<li><a href="#" [routerLink]="['/myrequest-user/', id]"><span class="bi bi-bag-heart-fill"></span> MY REQUEST</a></li>
                  <li ><a href="#"   [routerLink]="['/req-form/',id]"><span class="bi bi-plus-lg"></span> ADD REQUEST</a></li>
        					<li class="active"><a href="#" [routerLink]="['/my-donations-user/', id]"><span class="bi bi-droplet-fill"></span> MY DONATIONS</a></li>
        					<li><a href="#" [routerLink]="['/request/', id]"><span class="bi bi-table"></span> DONATE</a></li>        
        				</ul>
            </nav>
              </div>
              <div class="content-panel">
                  <fieldset class="fieldset">
                      <div class="row ">
                  <div class="col ">
                    <h3 style="text-align: center;">M Y &nbsp; D O N A T I O N S</h3><br>
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">  </th>
      <th scope="col">Date</th>
      <th scope="col">Place</th>
      <th scope="col">response status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let n of info; index as i">
      <td scope="row">  </td>
      <td scope="row">{{n.res_date}}</td>
      <td scope="row">{{n.hospital_name}}</td>
      <td scope="row" *ngIf="n.response_status == 0">
        <div style="color: dimgray;  font-weight: bold;">Pending</div>
      </td>
      <td scope="row" *ngIf="n.response_status == 1">
        <div style="color: red;  font-weight: bold;">Expired</div>
      </td>
      <td scope="row" *ngIf="n.response_status == 2">
        <div style="color: rgb(44, 109, 248); font-weight: bold;">Completed</div>
      </td>

      
    </tr>
   
  </tbody>
                      </table>
                          </div>         
                  </div>
                  </div>
                  </fieldset><br>
                  <hr>
              </div>
              
            

              
    