<div class="container">
<div id="s1" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-inner">

	<div class="carousel-item active" data-bs-interval="3000" >
		
		<div class="row">

		<div class="col-md-6" style="padding:50px; padding-top: 70px;">
		<h1>Donate blood</h1><br>
		<p class="caption">and be the reason for<br> someone's existence</p>
		<p>Every day, patients who need blood are<br>
			in crisis and you can help by<br> volunteering to donate.</p>
		</div>

		<div class="col-md-6">
		<img src="assets/istockphoto.jpeg" class="d-block" >
		</div>
		</div>
</div>

	<div class="carousel-item " data-bs-interval="3000">

		<div class="row">

			<div class="col-md-6" style="padding:50px; padding-top: 70px;">
				<h1>Blood is the main reason</h1><br>
				<p>The blood (RBC) carries oxygen<br>  from the lungs to all the parts of our body.<br> The moment this process is hampered,
					<br> a person's life is in danger.</p> 
			</div>

		<div class="col-md-6">	
		<img src="assets/blood-test-tube.png" class="d-block">
		</div>
	</div>
</div>

	<div class="carousel-item " data-bs-interval="3000">
		
		<div class="row">

			<div class="col-md-6" style="padding:30px; padding-top: 70px;">
				<h1>Child may need a blood</h1><br>
				<p>Every year at Children's Hospital Colorado,<br>
					sick and injured kids receive more<br> than 8,000 units
					of lifesaving blood products.</p>
			</div>

		<div class="col-6">
		<img src="assets/istockphoto-kid.jpeg" class="d-block" >
		</div>
		</div>
	</div>

	<div class="carousel-item " data-bs-interval="3000">
	
		<div class="row">

			<div class="col-md-6" style="padding:50px; padding-top: 70px;">
			<h1>Instead of </h1><br>
			<p style="font-size:40px ;">giving your blood to mosquitoes,<br> give it to someone who needs it...</p>
			</div>

		<div class="col-6">
		<img src="assets/blood-bags.jpeg" class="d-block" >
		</div>
		</div>
	</div>

	<div class="carousel-indicators">
		<button type="button" data-bs-target="#s1" data-bs-slide-to="0" class="active" aria-label=""></button>
		<button type="button" data-bs-target="#s1" data-bs-slide-to="1" class="" ></button>
		<button type="button" data-bs-target="#s1" data-bs-slide-to="2" class="" ></button>
		<button type="button" data-bs-target="#s1" data-bs-slide-to="3" class="" ></button>
	</div>
	
	<a class="carousel-control-prev" data-bs-target="#s1" type="button" data-bs-slide="prev">
	<span class="carousel-control-prev-icon">
		<span class="sr-only"></span>
	</span>
	</a>

	<a class="carousel-control-next" data-bs-target="#s1" type="button" data-bs-slide="next">
	<span class="carousel-control-next-icon">
		<span class="sr-only"></span>
	</span>
	</a>

</div> 
</div>