img{
    float: right;
    height: 570px ;
    width:600px ;
}
h1{ text-shadow: 4px 2px #0e0d0d;
    font-family:'Roboto Slab', serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkred;
    font-weight: bolder ;
    font-size: 70px;    
}
.caption{
    font-family: 'Roboto Slab', serif;
    font-size: 45px;
    color: black;
}

p{
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    color: darkslategrey;
}