<div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <div class="user-info">
                        <img class="img-profile img-circle img-responsive center-block "  src="" alt="">
                        
                        <ul class="meta list list-unstyled">
                            <!-- <li class="name">{{hospital.name}}</li> -->
                        </ul>
                    </div>
            		<nav class="side-menu">
        				<ul class="nav">
        					<li ><a href="#" [routerLink]="['/organization/', id]"><span class="bi bi-person-fill"></span> PROFILE</a></li>
        					<li class="active"><a href="#" [routerLink]="['/my-event/', id]"><span class="bi bi-bag-heart-fill"></span>  MY EVENTS</a></li>
                            <li ><a href="#" [routerLink]="['/add-event/', id]"><span class="bi bi-plus-lg"></span>  ADD EVENT</a></li>
        				</ul>
        			</nav>
                </div>

<div class="content-panel" >
    <h3 style="text-align: center;">MY &nbsp; E V E N T S</h3>
    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th>Event Address</th>
                <th>City</th>
                <th>Start</th>
                <th>End</th>
                <th>Status</th>
                <th>update/delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of events;index as i">
                <td><input name="event_address" class="form-control" style="width: 200px;" type="text" [(ngModel)]="events[i].event_address" [disabled]="!e.isEditing" /></td> 
                <td><input name="city" class="form-control" style="width: 200px;" type="text" [(ngModel)]="events[i].city" [disabled]="!e.isEditing" /></td>
                <td><input name="event_startDate" class="form-control" style="width: 200px;" type="text" [(ngModel)]="events[i].event_startDate" [disabled]="!e.isEditing" /></td>
                <td><input name="event_endDate" class="form-control" style="width: 200px;" type="text" [(ngModel)]="events[i].event_endDate" [disabled]="!e.isEditing" /></td>
                
                <td scope="row" *ngIf="e.event_status == 1">
                    <div style="color: red;  font-weight: bold;">Closed</div>
                  </td>
                  <td scope="row" *ngIf="e.event_status == 0">
                    <div style="color: rgb(44, 109, 248); font-weight: bold;">Ongoing</div>
                </td>

                <td style="display: flex;">
                    <button class="btn btn-primary" (click)="editItem(e)" ><i class="bi bi-pencil-fill"></i>
                      {{ e.isEditing ? 'Cancel' : 'Edit' }}
                    </button>
                    &nbsp;
                    <button class="btn btn-danger" *ngIf="!e.isEditing" (click)="delete(e)"><i class="bi bi-trash-fill"></i></button>
                    <button class="btn btn-warning" *ngIf="e.isEditing" (click)="update(e)">Update</button>
                </td>

            </tr>
        </tbody>
    </table>
    



    
</div>
</div>
</section>
</div>
</div>


