<br><br>
<div class="container">
    <div class="justify">
    <div class="row">
        <div class="col">
            <a class="card" routerLink="" routerLinkActive="active" href="#"><li class="bi bi-droplet-fill">  MY DONATIONS</li></a>
        </div>
        <div class="col">
            <a class="card" routerLink="/donor-rewards" routerLinkActive="active" href="#"><li class="bi bi-box2-heart">  DONOR REWARDS</li></a>
        </div>
        <div class="col ">
        <a routerLink="/donate-now" routerLinkActive="active" href="#"> <div class="dcard"><li  class="bi bi-heart-pulse">  DONATE NOW</li></div></a>
        </div>
    </div>
