
    <div class="header">
        <div  class="row">
            <div class="col">
                <p style="padding-top: 0px; color: whitesmoke; font-size: 52px;"><span style="color: rgb(255, 208, 0); font-size: 75px;"> D</span>ONATE LIFE!</p>
            </div>
            <div class="col">
                <img src="assets/Heartbeat.png" style="padding:0px; margin: 0px; width: 930px; height: 260px;">
            </div>
        </div>
    
    </div>
<br><br><br><br>
<div class="container">
    <br>
    <p style="font-size: 25px; color: rgb(77, 76, 76);">Donating blood is a humanitarian gesture and more people are being well aware of the need for it by each passing year. 
        It is good social work as it indicates that people are getting more sensible towards the sufferings of others. According to a report by the World Health Organization (WHO), 
        around 117.4 million blood donations are collected globally. Anyone who is willing to donate blood can approach these blood banks, where they will be guided further by a medical professional. Hospitals and Non-government Organizations also organize
        blood donation camps from time to time.</p><br><br>
    <div class="justify-content-center" >
    <div class="row">
        <div class="justify col">
            <a class="card" routerLink="/donation-power" routerLinkActive="active" href="#" style="width: 268px;"><li  class="bi bi-book">  DONATION POWER</li></a>
        </div>
        <div class="justify col" >
            <a class="card" routerLink="/donor-rewards" routerLinkActive="active" href="#"><li class="bi bi-box2-heart">  DONOR REWARDS</li></a>
        </div>
        <div class="justify col ">
        <a routerLink="/donate-now" routerLinkActive="active" href="#"> <div class="dcard"><li  class="bi bi-heart-pulse"> DONATE NOW</li></div></a>
        </div>
        <br><pre></pre><pre></pre><pre></pre>
        <span class="pragraph">"if anyone saved a life, it would be as if he saved the life of the whole people."<a class="Q" href="https://legacy.quran.com/5/32-33">(Q5:32–33)</a></span>
    </div>
    <br><hr><br><br>
        <app-blood-types></app-blood-types>
