<div [hidden]="display" class="search-cont">
    <div class="row">
        <div class="col">
            <div class="col">

                <!-- search bar -->
                <form >
                <input type="text" #search placeholder="search" class="form-control" (keyup)="searchFunc(search.value)">
                </form>


                <!-- check hospital list -->
                <div *ngIf="search.value !='' ">
                    <ng-container *ngIf="hospitalList.length;else notfound">
                        <br> 
                        <table  class="table table-hover" *ngIf="hospitalList">
                            <thead>
                              <tr>
                                <th>Hospital Name</th>
                                <th>Blood Type</th>
                                <th>Blood Quantity</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let result of hospitalList">
                                <td>{{ result.hospital_name }}</td>
                                <td>{{ result.blood_type }}</td>
                                <td>{{ result.blood_quantity }}</td>
                              </tr>
                            </tbody>
                          </table>
                    </ng-container>

                    <ng-template #notfound>
                        <div class="text-center" style="color: red; font-size: 20px; margin:15px;">
                            Not found!
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
