<div class="header">
  <div  class="row">
      <div class="col">
          <p style="padding-top: 0px; color: whitesmoke; font-size: 72px;"><span style="color: rgb(255, 208, 0); font-size: 75px;">R</span>EQUEST</p>
      </div>
      <div class="col">
          <img src="assets/Heartbeat.png" style="padding:0px; margin: 0px; width: 930px; height: 260px;">
      </div>
  </div>

</div>
<br><br><br><br>
<pre></pre>
<div class="body" style="font-size: 22px; color: rgb(77, 76, 76);">
    <div class="container">
        <p style="font-size: 25px; color: rgb(77, 76, 76);">In this request table you can donate to the hospitals and patients that need blood. by clicking "donate" on the request
            a message is sent to that hospital or patient to acknowlage that you are a user of the system. after donation you will
            get points that will be added to your account, later you can use it for gifts.
        </p>
        <br>

        <b><div class="bi bi-plus-lg"  [routerLink]="['/req-form/',id ]">  Add request </div></b>
        <br>
        <br>

      <br>
      <div   style="font-size: 22px; margin-bottom: 5px;">
        <label >Filter by blood type:</label> &nbsp;
        <select formControlName="blood_type">
          <option value="0">--Select--</option>  
          <option *ngFor="let b of blood">  
              {{b.blood_type}}  
          </option>  
      </select>
      <!-- <input class="form-check-input" type="checkbox" value="O+" ><span> O+   </span>
      <input class="form-check-input" type="checkbox" value="O-" ><span> O-   </span>
      <input class="form-check-input" type="checkbox" value="A+" ><span> A+   </span>
      <input class="form-check-input" type="checkbox" value="A-" ><span> A-   </span>
      <input class="form-check-input" type="checkbox" value="B+" ><span> B+   </span>
      <input class="form-check-input" type="checkbox" value="B-" ><span> B-   </span>
      <input class="form-check-input" type="checkbox" value="AB+" ><span> AB+   </span>
      <input class="form-check-input" type="checkbox" value="AB-" ><span> AB-   </span>
      </div> -->
        <table class="table">
            <thead class="table-dark">
              <tr>
                <th>#</th>
                <th>Receiver</th>
                <th>Place</th>
                <th>Date</th>
                <th>Blood type</th>
                <th>Quantity</th>
                <th>Case</th>
                <th>Address</th>
                <th>City</th>
                <th>Respond</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let p of patients; index as i">
                <td>{{i+1}}</td>
                <td>{{p.user_Fname}} {{p.user_Lname}} </td>
                <td>{{p.hospital_name}}</td>
                <td>{{p.date}}</td>
                <td>{{p.blood_type}}</td>
                <td>{{p.request_quantity}}</td>
                <td>{{p.request_case}}</td>
                <!-- addr -->
                <td></td>
                <td>{{p.city}}</td>
                <td><button class="btn btn-danger">Donate</button></td>
              </tr>
            </tbody>
          </table>

          <br><br>
    </div>

</div>