<app-slider></app-slider>
<br><br>
<div class="video-show">
    <div class="video-clip">
        <iframe width="730px" height="500px" style="border-radius:40px ;" src="https://www.youtube.com/embed/-1O4jlEhsxU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="video-descrition">
        <div class="mini-des">
            <p>Many variables can impact our blood inventories such as weather, 
            holidays or tragic events.  Every day, patients who need blood are in crisis and you can help by volunteering to donate. Less than 10% of the population gives blood, so regular donors are important to meet these needs. </p>
        </div>
        <pre></pre>
        <div class="mini-des">
            <p>The reason to donate is simple…it helps save lives. In fact, every two seconds of every day, someone needs blood. Since blood cannot be manufactured outside the body and has a limited shelf life, the supply must constantly be replenished by generous blood donors.</p>
        </div>
    </div>
</div>
<br><br><br>




