.video-show{
    margin-bottom: 15px;
}

.video-clip{
margin: 20px;
float: left;
height: 500px;
width: 700px;
}
.video-descrition{
    float: right;
    height: 500px;
    width: 450px;
    margin-right: 20px;
    
}
.mini-des{
    position: relative;
    float: right;
    margin:15px auto;
    margin-right: 50px;
    height: 280px;
    width: 340px;
    background-color: rgb(207, 159, 37);
    border-radius: 40px;
    
}
p{  
    color: #fff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font: bolder;
    font-size: larger;
    position: absolute;
    text-align: left;
    margin: 10px;
    margin-top: 15px ;
    padding: 10px;
    padding-bottom: 15px;
}