iframe{
    display: block;
    margin: 0 auto;
}
.card{
    display: block;
    margin: 0 auto;
    width: 25%;
}
.pragraph{
    text-align: center;
    margin: 5px; 
    font-size: 25px;
    color: darkslategrey;
    padding:30px; font-family: 'Roboto Slab', serif;
}