<div>
<app-conatiner ></app-conatiner>
<br><br>
<app-slider></app-slider>

<br>
<br>

<app-blood-types></app-blood-types>
<br>

<div class="card1">
    <h3><i class="bi bi-patch-question"></i>&nbsp;Did you know?</h3><br>
    <p>
        Blood is a bodily fluid in the circulatory system that travels via blood vessels to transport
        vital substances through the body and take waste products away from organs and tissues.
    </p>
    <button class="btn btn-accent btn-sm home-dual-btn" routerLink="/learn-blood" routerLinkActive="active">Learn More</button>
</div>
<div class="card2">
    <h3><i class="bi bi-person-video3"></i>&nbsp;Blood donor basics</h3><br>
    <p>
        General Guidelines for Blood Donation. these guidlines help the donor to understand the donation process and
        how to get ready for it. all the information needed for donation are here!
    </p>
    <button class="btn btn-accent btn-sm home-dual-btn" routerLink="/learn-donation" routerLinkActive="active">Learn More</button>
</div>

<br>

</div>
<br>