<app-slider></app-slider>
<br><br><br>
<div class="container">
    <p class="text-center">SHERYAAN, WHERE BLOOD DONORS AND BLOOD RECEIVERS CONNECT!</p>
</div>
<br><br>
<div class="row">
    <div class="card bg-danger col-sm-4">
        <div class="card-body text-center">
            <p class="card-text">Many variables can impact our blood inventories such as weather, 
            holidays or tragic events.  Every day, patients who need blood are in crisis and you can help by volunteering to donate. Less than 10% of the population gives blood, so regular donors are important to meet these needs. </p> 
        </div>
    </div>
    <div class="card bg-danger col-sm-4">
        <div class="card-body text-center">
            <p>The reason to donate is simple…it helps save lives. In fact, every two seconds of every day, someone needs blood. Since blood cannot be manufactured outside the body and has a limited shelf life, the supply must constantly be replenished by generous blood donors.</p>
        </div>
    </div>
    <div class="card bg-danger col-sm-4">
        <div class="card-body text-center">
            <p>The reason to donate is simple…it helps save lives. In fact, every two seconds of every day, someone needs blood. Since blood cannot be manufactured outside the body and has a limited shelf life, the supply must constantly be replenished by generous blood donors.</p>
        </div>
    </div>
</div>
<br><br>
<iframe height="350px" width="700" style="border-radius:5px ;" src="https://www.youtube.com/embed/-1O4jlEhsxU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<br><br>

