<div class="container">
    <div style="float: left; width: 900px;"></div>
    <p style="font-size: 30px; color: rgb(77, 76, 76);">We appreciate your donation! Your contribution will help us change lives literally! Someone who would have lost their life was survived because of you. 
        Someone's quality of life was improved because you gave us your blood. That’s pretty remarkable, and so are you. Thank you!</p><br><br>
    <app-donate-side-nav style="float: right;"></app-donate-side-nav>
</div>
<br>
<br>
