
<div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <div class="user-info">
                        <img class="img-profile img-circle img-responsive center-block "  src="" alt="">
                        
                        <ul class="meta list list-unstyled" *ngFor="let u of user">
                            <li class="name" style="font-size:18px ; margin-top: 16px;"><b>{{u.user_Fname}} {{u.user_Lname}}</b></li>
                        </ul>
                    </div>
            		<nav class="side-menu">
        				<ul class="nav"  *ngFor="let u of user">
        					<li class="active"><a href="#" [routerLink]="['/user/', u.user_id]"><span class="bi bi-person-fill"></span> PROFILE</a></li>
        					<li><a href="#" [routerLink]="['/myrequest-user/', u.user_id]"><span class="bi bi-bag-heart-fill"></span> MY REQUEST</a></li>
                            <li ><a href="#"   [routerLink]="['/req-form/',u.user_id]"><span class="bi bi-plus-lg"></span> ADD REQUEST</a></li>
        					<li><a href="#" [routerLink]="['/my-donations-user/', id]"><span class="bi bi-droplet-fill"></span> MY DONATIONS</a></li>
        					<li><a href="#" [routerLink]="['/request/', u.user_id]"><span class="bi bi-table"></span> DONATE</a></li>
                            
        				</ul>
        			</nav>
                </div>

                <!--static profile info-->
                <div class="content-panel" [hidden]="displays">
                    

                            <fieldset class="fieldset">
                                <div class="row ">
                                    <label *ngIf="isfetching">loading....</label>
                                    <div class="col col-lg-2">
                                <h3 class="fieldset-title">Personal Info</h3>
                            </div>
                            <div class="col ">
                                <div class="mb-3" *ngFor="let u of user"><br>
                                    <label><b>First name:</b> {{u.user_Fname}}</label><br>
                                    <label><b>Last name:</b> {{u.user_Lname}}</label><br>
                                    <label><b>National ID:</b> {{u.user_national_ID}}</label><br>
                                    <label><b>Gender:</b> {{u.user_gender}}</label><br>
                                    <label><b>Age:</b> {{u.user_age}}</label><br>
                                    <label><b>Address:</b> {{u.user_address}}</label><br>
                                    <label><b>City:</b> {{u.user_city}}</label><br>
                                    <label><b>Blood type:</b> {{u.user_blood_type}}</label><br>
                                    <label><b>Health status:</b> {{u.user_health_status}}</label><br>
                                </div>
                            </div>
                            </div>
                            </fieldset><br>
                            <fieldset class="fieldset">
                                <div class="row ">
                                    <div class="col col-lg-2">
                                <h3 class="fieldset-title">Contact Info</h3>
                                </div>
                                <div class="col col-lg-2">
                                <div class="mb-3" *ngFor="let u of user">
                                    <label><b>Email:</b> {{u.user_Email}}</label><br>
                                    <label><b>Phone number:</b> {{u.user_phoneNo}}</label>
                                </div>
                                </div>
                                </div>
                            </fieldset> <br>
                            <fieldset class="fieldset">
                                <div class="row ">
                                    <div class="col col-lg-2">
                                <h3 class="fieldset-title">Your Gifts</h3>
                                </div>
                                <div class="col col-lg-2">
                                <div class="mb-3" >
                                    <label><b>Points:</b> {{points_Amount}}</label><br>
                                </div>
                                </div>
                                </div>
                            </fieldset> 
                
                    <hr style="width: 500px; padding: 1px; margin: 2px;"><br>
                    <div class="form-group">
                        <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                            <div class="d-flex" *ngFor="let u of user">
                            <a href="#" [routerLink]="['/user-profile/', u.user_id, '-update']" class="btn btn-primary m-1">Update</a>
                            <!-- <button class="btn btn-primary m-1" type="submit" (click)="showform()">Update Profile</button> -->
                            <button class="btn btn-danger m-1" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal" >Delete account</button>
                            </div>
                        </div>

                    </div>
                </div>
                
              <!-- modal -->
                <div class="modal fade" id="deleteModal">
                    <div class="modal-dialog" >
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">DELETE!!</h4>
                          <button class="btn-close" data-bs-dismiss="modal" ></button>
                        </div>
                        <div class="modal-body">
                            <h2>Sure want to delete your account?</h2> 

                           <div  class="mb-3"> 
                            <div>
                              </div>
                              <h5> Code is sent to your email</h5>
                                <input [(ngModel)]="verificationCode" placeholder="Enter Verification Code" class="form-control">
                                <p style="color: rgba(6, 55, 180, 0.849);" class="d-flex justify-content-center">{{ message }}</p>
                                
                            </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-warning" (click)="sendEmail()">Send</button>
                          <button type="button" class="btn btn-danger" (click)="verifyCode()">Verify Code</button>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </section>
    </div>
</div>

