
<div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <div class="user-info">
                        <img class="img-profile img-circle img-responsive center-block "  src="" alt="">
                        
                        <ul class="meta list list-unstyled">
                            <!-- <li class="name">{{user.fname}} {{user.lname}}</li> -->
                        </ul>
                    </div>
            		<nav class="side-menu">
        				<ul class="nav">
        					<li class="active"><a href="#" routerLink="/user-profile" routerLinkActive="active"><span class="bi bi-person-fill"></span> PROFILE</a></li>
        					<li><a href="#" routerLink="/myrequest-user" routerLinkActive="active"><span class="bi bi-bag-heart-fill"></span>  MY REQUESTS</a></li>
        					<li><a href="#" routerLink="" routerLinkActive="active"><span class="bi bi-droplet-fill"></span> MY DONATIONS</a></li>
        					<li><a href="#" routerLink="/request" routerLinkActive="active"><span class="bi bi-table"></span> REQUEST</a></li>
        				
        				</ul>
        			</nav>
                </div>

                <!--static profile info-->
                <div class="content-panel" [hidden]="displays">
        
                            <fieldset class="fieldset">
                                <div class="row ">
                                    <label *ngIf="isfetching && !errormessage">loading....</label>
                                    <div class="col col-lg-2">
                                <h3 class="fieldset-title">Personal Info</h3>
                            </div>
                            <div class="col ">
                                <div class="mb-3" *ngFor="let u of user"><br>
                                    <label><b>First name:</b> {{u.user_Fname}}</label><br>
                                    <label><b>Last name:</b> {{u.user_Lname}}</label><br>
                                    <label><b>National ID:</b> {{u.user_national_ID}}</label><br>
                                    <label><b>Gender:</b> {{u.user_gender}}</label><br>
                                    <label><b>Age:</b> {{u.user_age}}</label><br>
                                    <label><b>Address:</b> {{u.user_address}}</label><br>
                                    <label><b>City:</b> {{u.user_city}}</label><br>
                                    <label><b>Blood type:</b> {{u.user_blood_type}}</label><br>
                                    <label><b>Health status:</b> {{u.user_health_status}}</label><br>
                                </div>
                            </div>
                            </div>
                            </fieldset><br>
                            <fieldset class="fieldset">
                                <div class="row ">
                                    <div class="col col-lg-2">
                                <h3 class="fieldset-title">Contact Info</h3>
                                </div>
                                <div class="col col-lg-2">
                                <div class="mb-3" *ngFor="let u of user">
                                    <label><b>Email:</b> {{u.user_Email}}</label><br>
                                    <label><b>Phone number:</b> {{u.user_phoneNo}}</label>
                                </div>
                                </div>
                                </div>
                            </fieldset> 
                
                    <hr><br>
                    <div class="form-group">
                        <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                            <div class="d-flex">
                              
                            <button class="btn btn-primary m-1" type="submit" (click)="showform()">Update Profile</button>
                            <button class="btn btn-danger m-1" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal" >Delete account</button>
                            </div>
                        </div>

                    </div>
                </div>
                
              <!-- modal -->
                <div class="modal fade" id="deleteModal">
                    <div class="modal-dialog" >
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">DELETE!!</h4>
                          <button class="btn-close" data-bs-dismiss="modal" ></button>
                        </div>
                        <div class="modal-body">
                            <h5>you sure you want to delete your account?</h5> 

                           <div  class="mb-3"> 
                                <input type="password" #password="ngModel" placeholder="Password" required minlength="8" name="password" style="width:250px ;" class="form-control" ngModel>
                                <!-- <p ngIf="password.invalid " class="warning"> invalid password!!</p> -->
                            </div>
                        </div>

                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-danger" > Delete</button>
                        </div>
                      </div>
                    </div>
                  </div>

                <!--editable profile info-->
                <div class="content-panel" [hidden]="displayd">
                    <form class="form-horizontal" [formGroup]="addUserForm">
                        <fieldset class="fieldset">
                            <h3 class="fieldset-title">Personal Info</h3>
                            
                            <div  class="mb-3">
                                <input  required minlength="2" maxlength="15" type="text" name="fname" placeholder="First Name" class="form-control" formControlName="fname">
                                <!-- <div *ngIf="fname.invalid && fname.touched  " class="warning"> required!!</div> -->
                            </div><pre></pre>
        
                            <div  class="mb-3">
                                <input type="text"  required minlength="2" maxlength="15" placeholder="last name" name="lname" class="form-control" formControlName="lname">
                                <!-- <p *ngIf="lname.invalid && lname.touched " class="warning"> required!!</p> -->
                            </div><pre></pre>

                            <div  class="mb-3">
                                <input type="text"  placeholder="SNN" required minlength="9" maxlength="14" name="snn" class="form-control" formControlName="ssn">
                                <!-- <p *ngIf="ssn.invalid && ssn.touched " class="warning"> required!!</p> -->
                            </div><pre></pre>

                            <div  class="mb-3"> 
                                <!-- /the value must be bet 18 &60/ -->
                                <input type="text"  required length="2" placeholder="Age" name="age" class="form-control" value="age" formControlName="age"> 
                                <!-- <p *ngIf="age.invalid && age.touched " class="warning"> enter a vaild age!!</p> -->
                            </div><pre></pre>

                            <div  class="mb-3">
                                <input type="text" placeholder="Address" name="address" class="form-control" formControlName="address">
                            </div><pre></pre>

                            <div  >
                                <label  style="margin-right: 7px;">City:</label>
                                <select class="drop" formControlName="city" >
                                <option value="6 October"  >6 October</option>
                                <option value="Dokki"  >Dokki</option>
                                <option value="New Cairo"  >New Cairo</option>
                                <option value="Nasr city"  >Nasr city</option>
                                <option value="Madinty"  >Madinty</option>
                                </select>
                            </div>
                            <pre></pre>
                
                            <label for="bloodType">Blood type:</label>
                            <div style="display: inline;" class="mb-3">
                            <input class="custom-control-input" type="radio" name="bloodType" value="O+" formControlName="bloodType" ><label class="user-bloodType" for="O+">O+</label>
                            <input class="custom-control-input" type="radio" name="bloodType" value="O"  formControlName="bloodType" ><label class="user-bloodType" for="O"> O-</label>
                            <input class="custom-control-input" type="radio" name="bloodType" value="A+" formControlName="bloodType"  ><label class="user-bloodType" for="A+"> A+</label>
                            <input class="custom-control-input" type="radio" name="bloodType" value="A-" formControlName="bloodType"  ><label class="user-bloodType" for="A-">A-</label>
                            <input class="custom-control-input" type="radio" name="bloodType" value="B+" formControlName="bloodType" ><label class="user-bloodType" for="B+">B+</label>
                            <input class="custom-control-input" type="radio" name="bloodType" value="B-" formControlName="bloodType" ><label class="user-bloodType" for="B-">B-</label>
                            <input class="custom-control-input" type="radio" name="bloodType" value="AB+"formControlName="bloodType"  ><label class="user-bloodType" for="AB+">AB+</label>
                            </div>
                            <pre></pre>

                            <div  class="mb-3"> 
                                <input type="text" placeholder="health status" name="healthstatus" class="form-control" formControlName="healthstatus" >
                            </div><pre></pre>
                            <div class="form-group avatar">
                            
                                <div class="form-inline col-md-10 col-sm-9 col-xs-12">
                                    
                                    <button type="submit" class="btn btn-danger">Update Image</button>
                                </div>
                            </div><pre></pre>
                            <div  class="mb-3"> 
                                
                                <!-- check validity -->
                                <input type="password"  placeholder="Password" required minlength="8" name="password" class="form-control" formControlName="password" >
                                <!-- <p *ngIf="password.invalid && password.touched " class="warning"> invalid password!!</p> -->
                            </div>

                            <br>
                        </fieldset>
                        <fieldset class="fieldset">
                            <h3 class="fieldset-title">Contact Info</h3><br>
                            <div  class="mb-3"> 
                                <!-- why validation is not working -->
                                <input type="text"  placeholder="phoneNumber" required minlength="11" maxlength="11" name="phone" class="form-control" formControlName="phone" >
                                <!-- <p *ngIf="phone.invalid && phone.touched " class="warning"> invalid!!</p> -->
                            </div>
                            <pre></pre>
                            <div  class="mb-3">
                                <input type="email" placeholder="Email" name="email" class="form-control" formControlName="email" >
                            </div>
                        </fieldset>
                        
                        <hr>
                    </form>
                    <div class="form-group">
                        <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                            <button class="btn btn-success" type="submit" (click)="showinfo()">save</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<!-- <div class="col ">
                        <table class="table table-hover table-bordered">
                            <thead class="table-active">
                              <tr>
                                <th>first name</th>
                                <th>last name</th>
                                <th>user ssn</th>
                                <th>gender</th>
                                <th>age</th>
                                <th>address</th>
                                <th>city</th>
                                <th>Blood type</th>
                                <th>health status</th>
                                <th>Email</th>
                                <th>phone no</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let u of user">
                                <td>{{u.user_Fname}}</td>
                                <td>{{u.user_Lname}}</td>
                                <td>{{u.user_national_ID}}</td>
                                <td>{{u.user_gender}}</td>
                                <td>{{u.user_age}}</td>
                                <td>{{u.user_address}}</td>
                                <td>{{u.user_city}}</td>
                                <td>{{u.user_blood_type}}</td>
                                <td>{{u.user_health_status}}</td>
                                <td>{{u.user_Email}}</td>
                                <td>{{u.user_phoneNo}}</td>
                              </tr>
                            </tbody>
                          </table>
                    </div> -->