<div class="body">
    <div class="header">
        <p style="color: whitesmoke; font-size: 60px;">LEARN ABOUT <span style="color: #d9534f;">BLOOD</span> DONATION</p>
    </div>
    <br><br>

    <div class="container">
        <h1 style="text-align: center;">ALL ABOUT BLOOD</h1><br>
        <div class="row">
            <div class="col-md-8">
                <p>What’s one thing you have in common with everyone you meet? Blood. whether you’re O+ or AB-, everybody has blood, and it plays a critical role in keeping you alive. In fact, blood probably does more for your body than you realize. You know that you need blood, but what does it do inside your body? How is it helping you? And after donating blood, how does your body replenish what you gave? Let’s dive into it! </p>
                <br>
                <h2>What is Blood?</h2>
                <p>You likely already have a pretty good idea of what blood is, but let’s bolster your understanding with a scientific definition. Blood is a bodily fluid in the circulatory system that travels via blood vessels to transport vital substances through the body and take waste products away from organs and tissues. Blood consists of four distinct parts:</p>
                <ul>
                    <li>Plasma – the liquid part of the blood</li>
                    <li>Red blood cells – the cells that carry oxygen from the lungs to the rest of the body</li>
                    <li>White blood cells – the cells responsible for fighting infections in the body</li>
                    <li>Platelets – blood cells that clot and control bleeding</li>
                </ul>
                <p>Without blood, your body wouldn’t be able to get the nutrients and oxygen it needs, nor could it fight off infection and keep you healthy. To fully understand the critical importance of your blood, let’s take a closer look at what it does.</p>
                <br>
                <h2>What does blood do?</h2>
                <p>As mentioned, blood travels through the body to deliver nutrients and remove waste. Your blood vessels function like a complex highway network that weaves through different parts of your body.  Blood is the carrier that travels this highway. Deliveries on this blood highway include vital elements such as oxygen, vitamins, hormones, antibodies, heat, and electrolytes. </p>
                <p>Not only is blood an effective delivery service for your body, but it is also a reliable waste manager. As it travels through the body, the blood picks up carbon dioxide and other waste products that your body doesn’t need and takes them to the kidneys, lungs, and digestive system to be removed.</p>
                <p>In addition to these remarkable, life-sustaining functions, blood fights infections and heals bodily injuries. Blood contains white blood cells, which fight off harmful, foreign invaders such as bacteria and viruses. Also, if you’ve ever gotten a scab from a cut or scrape on your body, that scab is another example of your blood taking care of you. After an injury, blood rushes platelets to the injury site, where they cause the blood to clot and harden, sealing the wound and ensuring you don’t lose any more blood. This scab also keeps dirt, bacteria, and other harmful contaminants from entering the bloodstream. </p>
                <br>
            </div>

            <div class="col-md-4">
                <ul class="nav">
                    <li class="nav-item">
                      <a class="nav-link" href="#" routerLink="/learn-blood" routerLinkActive="active">All about Blood</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#"  routerLink="/learn-banks" routerLinkActive="active">Blood Banks....All you need to know</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#" routerLink="/learn-donation" routerLinkActive="active">Blood donor basics</a>
                    </li>
                  </ul>
            </div>
        </div>
    </div>

</div>
